<div class="bg-white rounded-t-md relative">
  <div class="flex justify-center items-center py-2">
    <div
      class="w-8 h-2 bg-gray-300 rounded-md"
      (click)="onClose()"
    ></div>
  </div>
  <div class="text w-full">
    <div class="flex font-bold justify-center mt-6 mb-4 text-lg">
      Select Crew
    </div>
    <div class="bg-white h-full flex flex-col">
      <div
        class="flex flex-row items-center pl-8"
        *ngFor="let crew of data.crew"
      >
        <mat-checkbox
          class="example-margin"
          [checked]="selectedCrew.has(crew.id)"
          (change)="addToSelectedCrew(crew)"
        >
          <div class="flex flex-row pl-4 items-center">
            <div class="h-16 w-16 p-1 rounded-full bg-white">
              <span
                class="pg-stakeholder-image-bg rounded-full h-full w-full flex justify-center items-center border-white text-white uppercase"
              >
                {{ crew.name.charAt(0) }}
              </span>
            </div>
            <span class="pl-2">{{ crew.name }}</span>
          </div>
        </mat-checkbox>
        <!-- <input type="checkbox" name="" id="" [checked]="selectedCrew.has(crew.id)" (change)="addToSelectedCrew(crew); stopPropagation($event)" />
          <div class="flex flex-row pl-4 items-center">
            <div class="h-10 w-10 p-1 rounded-full bg-white">
              <span
                class="pg-stakeholder-image-bg rounded-full h-full w-full flex justify-center items-center border-white text-white uppercase"
              >
                {{ crew.name.charAt(0) }}
              </span>
            </div>
            <span class="pl-2">{{crew.name}}</span>
          </div> -->
      </div>
      <button
        class="w-full py-6 rounded-t-md focus:outline-none mt-2 pg-bg-blue-bright text-white text-lg font-semibold"
        (click)="addToActivityCrew()"
      >
        {{ selectedCrew.size > 0 ? "Select" : "Done" }}
      </button>
    </div>
  </div>
</div>
