// .calender-margin{
//     margin:10px;
// }
.text-font{
    font-weight:bold;
    margin:10px;
}
.border-bottom{
    border:1px solid #dbdde1;
    margin-top:20px;
    margin-bottom:20px;
}
.fc-direction-ltr {
    height:33rem;
}

::ng-deep .cal-month-view .cal-cell-top{
    min-height: 0 !important;
}
::ng-deep .cal-has-events {
    background-color: #9bc9f4 !important;
    color: #000;
    font-weight: 400;
  }

::ng-deep .cal-day-cell{
    height:9rem !important;
    min-height:9rem !important;
}  
.color-arrow{
    color:#278ce9;
} 
.justify-space-between{
    justify-content: space-between;
}
::ng-deep .cal-month-view .cal-day-number{
    font-size: 1.3rem;
    font-weight: 700;
}
::ng-deep .cal-month-view .cal-day-cell.cal-today .cal-day-number{
    font-size: 1.2rem;
}
.font-heading{
    font-size:14px;
    color:#051532;
}
::ng-deep .cal-month-view .cal-header .cal-cell{
    color:#278ce9;
    font-size: 12px;
    height: 3rem !important;
    min-height: 3rem !important;
}

.calendar-top {
    width: 92%;
    margin: 0 auto 20px;
}
.calendar-top div {
    height: 24px;
}
.disabled-date{
    opacity: .5;
    pointer-events: none;
   }
.sprint-start{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}