<div class="main-container h-full">
  <div class="flex flex-col justify-between h-full">
    <div class="flex flex-col justify-between p-4" [formGroup]="eventForm">
      <div class="flex flex-row justify-between items-start">
        <ngx-spinner bdColor="rgba(245,245,245,0.8)" size="medium" color="#46d9aa" type="ball-spin-fade-rotating"
          [fullScreen]="true">
          <p style="color: white"> Loading... </p>
        </ngx-spinner>

        <div class="flex flex-col w-full">
          <span class="font-bold text-2xl">{{ data.isEdit ? "Edit " : " Create New " }} Event
          </span>
          <span class="text-base text-gray-500">
            {{ date | date: "mediumDate" }} | {{ date | date: "EEEE" }}
          </span>
        </div>
        <div class="flex flex-row justify-between items-center cursor-pointer">
          <mat-icon (click)="onNoClick()">close</mat-icon>
        </div>
      </div>
      <div *ngIf="loadCounter > 0">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div class="background-color">
        <div class="flex flex-row" *ngIf="
          data?.data?.event?.type?.code !== 'WC' &&
          data?.data?.event?.type?.code !== 'FF'
        ">
          <span class="pg-txt-green text-sm font-semibold p-text">{{
            data?.data?.action?.label
            }}: {{
            data?.data?.action?.description
            }}</span>
        </div>

        <div class="border-bottom"></div>
        <div class="w-full" *ngIf="
          data?.data?.event?.type?.code !== 'WC' &&
          data?.data?.event?.type?.code !== 'FF'
        ">
          <span *ngIf="data.isEdit == false">
            <div class="text-font">Select One Activity</div>
            <div class="margin-top-dropdown">
              <mat-form-field class="custom-mat-select" floatLabel="never">
                <mat-label>Select an option</mat-label>
                <mat-select (selectionChange)="getOptions($event)">
                  <mat-option [value]="activity" *ngFor="let activity of activities">
                    {{activity.title}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="border-bottom"></div>
            </div>
          </span>
          <span *ngIf="data.isEdit == true">
            <div class="text-font">Select One Activity</div>
            <div class="margin-top-dropdown">
              <mat-form-field class="custom-mat-select" floatLabel="never">
                <mat-label>Select an option</mat-label>
                <mat-select [(ngModel)]="eventForm.value.actionType" [ngModelOptions]="{standalone: true}"
                  (selectionChange)="getEditOptions($event)">
                  <mat-option [value]="activity.code" *ngFor="let activity of activities">
                    {{activity.title}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="border-bottom"></div>
            </div>
          </span>
          <!-- <div
          class="flex w-full flex-row justify-between items-center"
          (click)="showActivityChange()"
        >
          <span class="text-sm pg-text-sprint-card font-semibold">
            {{ selectedActivity.title }}
          </span>
          <mat-icon>expand_more</mat-icon>
        </div> -->
        </div>
        <div class="flex flex-row pg-bg-green-light p-8" *ngIf="
          data?.data?.event?.type?.code === 'WC' ||
          data?.data?.event?.type?.code === 'FF'
        ">
          <span class="pg-txt-green text-sm font-semibold">{{
            data?.data?.event?.title
            }}</span>
        </div>
        <div class="flex flex-col" *ngIf="selectedActivity.title !== 'Select Activity' || (data?.data?.event?.type?.code === 'WC' ||
        data?.data?.event?.type?.code === 'FF')">
          <div class="flex flex-row justify-between items-center" *ngIf="selectedActivity.code === 'ACS'">
            <!-- <span
            class="text-sm pg-text-sprint-card font-semibold flex items-center"
            (click)="showSelectStakeholderChange()"
          >
            Select Stakeholder
            <mat-icon>keyboard_arrow_down</mat-icon>
          </span>  -->
            <div class="w-full">
              <div class="text-font d-flex items-center justify-between">Select Stakeholders
                <span class="material-icons cross-right" (click)="showStakeholderChange()">
                  person_add
                </span>
              </div>
              <div class="margin-top-dropdown">
                <mat-form-field class="custom-mat-select" floatLabel="never">
                  <mat-label>Select an option</mat-label>
                  <mat-select [(ngModel)]="stakeids" [ngModelOptions]="{standalone: true}" #mySelect1
                    (selectionChange)="getstakeId($event)" multiple>
                    <div class="d-flex items-center justify-between" style="padding: 15px;">
                      <p class="text-select">Select Stakeholders</p>
                      <span class="material-icons cross-right" (click)="matClose()">
                        clear
                      </span>
                    </div>
                    <mat-option [value]="data.id" *ngFor="let data of stakeholder" class="option-height"
                      style="padding: 15px;">
                      <div class="image-container">
                        <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553__340.png"
                          style="border-radius: 2px;width: 20px; height:20px;" />
                        <span class="font-weight-bold user-text">{{data.name }}</span>
                      </div>
                    </mat-option>
                    <div class="padding5 margin-top" style="padding: 0 15px;">
                      <p class="dn-btn" (click)="matClose()">Done</p>
                    </div>
                  </mat-select>
                </mat-form-field>
                <div class="border-bottom"></div>
              </div>
            </div>
            <!-- <div class="flex flex-row justify-center items-center">
            <span
              class="flex justify-end items-center -mr-4"
              *ngIf="activityStakeHolder.length > 0"
            >
              <div
                class="h-10 w-10 p-1 rounded-full bg-white -ml-4"
                *ngFor="let sh of activityStakeHolder"
              >
                <span
                  class="pg-stakeholder-image-bg rounded-full h-full w-full flex justify-center items-center border-white text-white uppercase"
                >
                  {{ sh.name.charAt(0) }}
                </span>
              </div>
            </span>
            <div
              class="rounded-full pg-light-outer w-6 h-6 flex justify-center items-center"
              *ngIf="activityStakeHolder.length === 0"
            >
              <div
                class="rounded-full pg-dark-outer w-6 h-6 flex justify-center items-center"
              >
                <div class="flex justify-center items-center p-2">
                  <button
                    class="flex bg-transparent justify-center items-center focus:outline-none"
                  >
                    <mat-icon
                      class="text-gray-500 mat-icon-18"
                      aria-hidden="false"
                      (click)="showStakeholderChange()"
                      >person_add</mat-icon
                    >
                  </button>
                </div>
              </div>
            </div>
            <div
              class="rounded-full bg-white border border-dashed border-gray-500 w-8 h-8 p-1 flex justify-center items-center"
              *ngIf="activityStakeHolder.length > 0"
            >
              <button
                class="flex bg-transparent justify-center items-center focus:outline-none"
              >
                <mat-icon
                  class="bg-white mat-icon-12 pg-txt-blue-bright"
                  aria-hidden="false"
                  (click)="showStakeholderChange()"
                  >person_add</mat-icon
                >
              </button>
            </div>
          </div> -->
          </div>
          <div class="flex flex-row justify-between items-center" *ngIf="selectedActivity.code === 'ESC'">
            <!-- <span
            class="text-sm pg-text-sprint-card font-semibold flex items-center"
            (click)="showSelectCrewChange()"
          >
            Select Support Crew
            <mat-icon>keyboard_arrow_down</mat-icon>
          </span> -->
            <div class="w-full">
              <div class="text-font">Select Sprint Crew</div>
              <div class="margin-top-dropdown">
                <mat-form-field class="custom-mat-select" floatLabel="never">
                  <mat-label>Select an option</mat-label>
                  <mat-select [(ngModel)]="crewids" [ngModelOptions]="{standalone: true}" #mySelect
                    (selectionChange)="getCrewId($event)" multiple>
                    <div class="d-flex items-center justify-between" style="padding: 15px;">
                      <p class="text-select">Select Crew</p>
                      <span class="material-icons cross-right" (click)="close()">
                        clear
                      </span>
                    </div>


                    <mat-option [value]="data.id" *ngFor="let data of sprintCrew" class="option-height"
                      style="padding: 15px;">


                      <div class="image-container">
                        <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553__340.png"
                          style="border-radius: 2px;width: 20px; height:20px;" />
                        <span class="font-weight-bold user-text">{{data.name}}</span>
                      </div>

                    </mat-option>
                    <div class="padding5 margin-top" style="padding: 0 15px;">
                      <p class="dn-btn" (click)="close()">Done</p>
                    </div>
                  </mat-select>
                </mat-form-field>
                <div class="border-bottom"></div>
              </div>
            </div>
            <!-- <span
            class="flex justify-end items-center -mr-4"
            *ngIf="activityCrew.length > 0"
          >
            <div
              class="h-10 w-10 p-1 rounded-full bg-white -ml-4"
              *ngFor="let crew of activityCrew"
            >
              <span
                class="pg-stakeholder-image-bg rounded-full h-full w-full flex justify-center items-center border-white text-white uppercase"
              >
                {{ crew.name.charAt(0) }}
              </span>
            </div>
          </span> -->
          </div>

          <div class="text-font">Date and Time</div>
          (Select date first then time will be enabled)
          <div class="margin-top-dropdown">
            <mat-form-field class="custom-mat-select-date mat-border" floatLabel="never">
              <mat-label>Choose a date</mat-label>
              <input matInput readonly [matDatepicker]="picker" [min]="todayDate" [max]="lastAddDateForEvent"
                [(ngModel)]="meetingDate" [ngModelOptions]="{standalone: true}" (dateChange)="handleDateChange($event)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div>

              <!-- WHILE MERGING CODE CONFLICT ARISES ACCEPT INCOMING CODE IS USED CURRENT CODE COMMENTED HERE -->
              <!-- 
                  <div class="display-div-inline margin-top-dropdown">
                <mat-form-field class="custom-mat-select-time mat-border" floatLabel="never">
                  <mat-label>From</mat-label>
                  <mat-select [(ngModel)]="from" [ngModelOptions]="{standalone: true}"  (selectionChange)="getStartTime($event.value)" [disabled]="!meetingDate">
                    <ng-container *ngIf="newEventdate == newCurrentDate">
                      <mat-option *ngFor="let week of timeslots" [value]="week.value" [disabled]="week.value < currentTime">
                        <mat-radio-button [disabled]="week.value < currentTime">{{week.viewValue}}</mat-radio-button>
                      </mat-option>
                    </ng-container>
                    <ng-container *ngIf="newEventdate != newCurrentDate">
                      <mat-option *ngFor="let week of timeslots" [value]="week.value">
                        <mat-radio-button>{{week.viewValue}}</mat-radio-button>
                      </mat-option>
                    </ng-container>
                   
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="custom-mat-select-time mat-border ml-5" floatLabel="never">
                  <mat-label>AM / PM</mat-label>
                  <mat-select  [(ngModel)]="meetingfrom" [ngModelOptions]="{standalone: true}" (selectionChange)="getStartMeridian($event.value)" [disabled]="!meetingDate">
                    <ng-container *ngIf="newEventdate == newCurrentDate">
                      <mat-option *ngFor="let week of timezone" [value]="week.value" [disabled]="week.value < currentMeridian">
                        <mat-radio-button [disabled]="week.value < currentMeridian">{{week.viewValue}}</mat-radio-button>
                      </mat-option>
                    </ng-container>
                    <ng-container *ngIf="newEventdate != newCurrentDate">
                      <mat-option *ngFor="let week of timezone" [value]="week.value">
                        <mat-radio-button>{{week.viewValue}}</mat-radio-button>
                      </mat-option>
                    </ng-container>
 
                  </mat-select>
                </mat-form-field>
               -->
              <div>
                <div class="display-div-inline margin-top-dropdown">
                  <mat-form-field class="custom-mat-select-time mat-border" floatLabel="never">
                    <mat-label>From</mat-label>
                    <mat-select [(ngModel)]="from" [ngModelOptions]="{standalone: true}"
                      (selectionChange)="getStartTime($event.value)" [disabled]="!meetingDate">
                      <ng-container *ngIf="newEventdate == newCurrentDate">
                        <ng-container *ngIf="currentMeridian === 'AM'">
                          <mat-option *ngFor="let week of timeslots" [value]="week.value"
                          [disabled]="week.value < currentTime && startMeridian === currentMeridian">
                          <mat-radio-button [disabled]="week.value < currentTime && startMeridian === currentMeridian">{{week.viewValue}}</mat-radio-button>
                          </mat-option>
                        </ng-container>
                        <ng-container *ngIf="currentMeridian === 'PM'">
                          <mat-option *ngFor="let week of timeslots" [value]="week.value"
                          [disabled]="week.value < currentTime">
                          <mat-radio-button [disabled]="week.value < currentTime">{{week.viewValue}}</mat-radio-button>
                          </mat-option>
                        </ng-container>
                        
                      </ng-container>
                      <ng-container *ngIf="newEventdate != newCurrentDate">
                        <mat-option *ngFor="let week of timeslots" [value]="week.value">
                          <mat-radio-button>{{week.viewValue}}</mat-radio-button>
                        </mat-option>
                      </ng-container>

                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="custom-mat-select-time mat-border ml-5" floatLabel="never">
                    <mat-label>AM / PM</mat-label>
                    <mat-select [(ngModel)]="meetingfrom" [ngModelOptions]="{standalone: true}"
                      (selectionChange)="getStartMeridian($event.value)" [disabled]="!meetingDate">
                      <ng-container *ngIf="newEventdate == newCurrentDate">
                        <mat-option *ngFor="let week of timezone" [value]="week.value"
                          [disabled]="week.value < currentMeridian">
                          <mat-radio-button [disabled]="week.value < currentMeridian">{{week.viewValue}}
                          </mat-radio-button>
                        </mat-option>
                      </ng-container>
                      <ng-container *ngIf="newEventdate != newCurrentDate">
                        <mat-option *ngFor="let week of timezone" [value]="week.value">
                          <mat-radio-button>{{week.viewValue}}</mat-radio-button>
                        </mat-option>
                      </ng-container>

                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="display-div-inline margin-top-dropdown">
                  <mat-form-field class="custom-mat-select-time mat-border">
                    <!-- <mat-label>To</mat-label> -->
                    <mat-select [(ngModel)]="to" [ngModelOptions]="{standalone: true}"
                      (selectionChange)="getEndTime($event.value)" [disabled]="!meetingDate">
                      <ng-container *ngIf="newEventdate == newCurrentDate">
                        <mat-option *ngFor="let week of timeslots" [value]="week.value"
                          [disabled]="week.value < currentTime && endMeridian === currentMeridian">
                          <mat-radio-button [value]="week.value" [disabled]="week.value < currentTime && endMeridian === currentMeridian">
                            {{week.viewValue}}</mat-radio-button>
                        </mat-option>
                      </ng-container>
                      <ng-container *ngIf="newEventdate != newCurrentDate">
                        <mat-option *ngFor="let week of timeslots" [value]="week.value">
                          <mat-radio-button [value]="week.value">{{week.viewValue}}</mat-radio-button>
                        </mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="custom-mat-select-time mat-border ml-5" floatLabel="never">
                    <mat-label>AM / PM</mat-label>
                    <mat-select [(ngModel)]="meetingTo" [ngModelOptions]="{standalone: true}"
                      (selectionChange)="getendMeridian($event.value)" [disabled]="!meetingDate">
                      <ng-container *ngIf="newEventdate == newCurrentDate">
                        <mat-option *ngFor="let week of timezone" [value]="week.value"
                          [disabled]="week.value < currentMeridian">
                          <mat-radio-button [disabled]="week.value < currentMeridian">{{week.viewValue}}
                          </mat-radio-button>
                        </mat-option>
                      </ng-container>
                      <ng-container *ngIf="newEventdate != newCurrentDate">
                        <mat-option *ngFor="let week of timezone" [value]="week.value">
                          <mat-radio-button>{{week.viewValue}}</mat-radio-button>
                        </mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>


              </div>
              <div *ngIf="!isvalidTime">
                <span style="color: red">Start time should be less than End Time</span>
              </div>
            </div>


          </div>
          <div class="flex flex-row justify-between items-center" *ngIf="
            data?.data?.event?.type?.code !== 'WC' &&
            data?.data?.event?.type?.code !== 'FF'
          ">
            <!-- <mat-button-toggle-group
            #group="matButtonToggleGroup"
            class="focus:outline-none"
            name="fontStyle"
            aria-label="Font Style"
            [value]="meetingType"
            (change)="onValChange(group.value)"
          >
            <mat-button-toggle value="online" class="focus:outline-none"
              >Online</mat-button-toggle
            >
            <mat-button-toggle value="offline" class="focus: outline-none"
              >Offline</mat-button-toggle
            >
          </mat-button-toggle-group> -->
            <div class="margin-top-online">
              <h3 class="text-color">Offline/Online Meeting</h3>
              <div class="margin-top-dropdown display-button">
                <div class="on-button">
                  <button type="button" class="btn" [ngClass]="{'button-background-color': onlineDiv }"
                    (click)="getOnlineEvent('Online')">Online</button>
                </div>
                <div class="on-button">
                  <button type="button" class="btn btn-margin" [ngClass]="{'button-background-color': oflineDiv }"
                    (click)="getOfflineEvent('Offline')">Offline</button>
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-row justify-between items-center" *ngIf="
            data?.data?.event?.type?.code !== 'WC' &&
            data?.data?.event?.type?.code !== 'FF'
          ">
            <!-- <input
            class="appearance-none bg-transparent border-b border-gray-500 w-full pg-text-sprint-card pt-2 pb-4 leading-tight focus:outline-none text-sm"
            type="text"
            formControlName="meeting"
            placeholder="{{
              meetingType === 'online' ? 'Meeting link (optional)' : 'Meeting address (optional)'
            }}"
          /> -->
            <div class="margin-top-dropdown w-full" *ngIf="onlineDiv">
              <mat-form-field class="example-full-width" floatLabel="never">
                <input matInput placeholder="https://meet.google.com/xzb-rgrx-fk" formControlName="meeting"
                  (keyup)="onkeyenter($event)">
              </mat-form-field>
              <div>
                <span style="color: red">{{errorMsg}}</span>
              </div>
            </div>
            <div class="margin-top-dropdown w-full" *ngIf="oflineDiv">
              <mat-form-field class="example-full-width" floatLabel="never">
                <input matInput placeholder="Meeting Address" formControlName="address">
              </mat-form-field>
            </div>
          </div>



          <!-- <div class="flex flex-row justify-between items-center p-8 date-picker border-b border-gray-300" *ngIf="data.isEdit">
          <div class="flex w-full flex-row justify-between items-center">
          <span class="text-sm pg-text-sprint-card font-semibold"> Change Date </span>
            <dp-date-picker [mode]="'day'" [placeholder]="date | date:'dd-MM-yyyy'" [(ngModel)]="selectedDate" (onSelect)="changeDate($event)" [config]="datePickerConfig"></dp-date-picker>
          </div>
        </div>
        <div class="flex flex-row justify-between items-center p-8">
          <div class="flex w-full flex-row justify-between items-center">
            <span class="text-sm pg-text-sprint-card font-semibold"> Schedule </span>
            <ng-template
              [ngTemplateOutlet]="outlet"
              #timePickerElse
              [ngOutletContext]="context"
            >
              <ngx-timepicker-field
                [defaultTime]="'09:00 AM'"
                (timeChanged)="getStartTime($event)"
                [controlOnly]="true"
              ></ngx-timepicker-field>
              <ngx-timepicker-field
                [defaultTime]="'10:00 AM'"
                (timeChanged)="getEndTime($event)"
                [controlOnly]="true"
              ></ngx-timepicker-field>
            </ng-template>
            <div
              class="flex flex-row"
              *ngIf="meetingStart != null && meetingEnd != null; else timePickerElse"
            >
              <ngx-timepicker-field
                [defaultTime]="meetingStart"
                (timeChanged)="getStartTime($event)"
                [controlOnly]="true"
              ></ngx-timepicker-field>
              <span class="mx-2 font-bold">-</span>
              <ngx-timepicker-field
                [defaultTime]="meetingEnd"
                (timeChanged)="getEndTime($event)"
                [controlOnly]="true"
              ></ngx-timepicker-field>
            </div>
          </div>
        </div> -->
          <div class="border-bottom"></div>
          <div class="flex flex-row justify-between items-center" *ngIf="
            data?.data?.event?.type?.code !== 'WC' &&
            data?.data?.event?.type?.code !== 'FF'
          ">
            <div class="margin-top-dropdown mt-0 description-box w-full">
              <h3 class="text-font">Title</h3>
              <div class="margin-top-dropdown w-full">
                <mat-form-field class="example-full-width" floatLabel="never">
                  <input matInput class="input-middle" placeholder="Lorem ipsum dolor sit amet, 
              consectetur adipiscing elit. In eget pretium arcu" name="eventTitle" formControlName="eventTitle">
                </mat-form-field>
              </div>

            </div>
          </div>
          <div class="border-bottom"></div>
          <div class="flex flex-row justify-between items-center" *ngIf="
          data?.data?.event?.type?.code !== 'WC' &&
          data?.data?.event?.type?.code !== 'FF'
        ">
            <div class="margin-top-dropdown mt-0 description-box w-full">
              <h3 class="text-font">Descriptions</h3>
              <div class="margin-top-dropdown w-full">
                <mat-form-field class="example-full-width" floatLabel="never">
                  <input matInput placeholder="Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. In eget pretium arcu" name="description" formControlName="description">
                </mat-form-field>
              </div>

            </div>
          </div>
        </div>
        <div class="w-full text-center mt-8">
          <button
            class="flex w-full pg-bg-blue-bright rounded-t-md py-6 text-center justify-center text-white text-lg font-semibold"
            *ngIf="data?.data?.event?.type?.code === 'WC' || data?.data?.event?.type?.code === 'FF'"
            (click)="updateWC()">
            UPDATE
          </button>
          <button type="submit" class="create-btn" [ngClass]="{'bg-gray-400': eventForm.invalid || loadCounter > 0}"
            *ngIf="selectedActivity.title !== 'Select Activity'" [disabled]="eventForm.invalid || loadCounter > 0"
            (click)="data.isEdit ? updateEvent() : storeEvent()">
            {{ data.isEdit ? "Edit Event" : "Add Event" }}
          </button>
        </div>
      </div>

    </div>
    <div class="bg-white rounded-t-md relative" [ngClass]="showActivity ? 'overlay-show' : 'overlay-hide'">
      <div class="flex justify-center items-center py-2">
        <div class="w-8 h-2 bg-gray-300 rounded-md" (click)="showActivity=false"></div>
      </div>
      <div class="text w-full">
        <div class="flex font-bold justify-center mt-6 mb-4 text-lg">Select Activity</div>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
          [(ngModel)]="selectedActivity">
          <div class="flex items-center" *ngFor="let activity of activities; let i = index">
            <mat-radio-button class="example-radio-button" [value]="activity" [checked]="i == 1"
              (click)="selectActivity(activity)">
              <span class="text-left text-base font-semibold">{{ activity.title }}</span>
            </mat-radio-button>
          </div>
        </mat-radio-group>
        <div class="flex flex-col content-between">
          <!-- <div class="flex flex-row w-full justify-around items-center pg-min-h-42" (click)="selectActivity()">
                <span class="flex w-1/5 justify-center">
                  <input type="radio" name="activity">
                </span>
                <span class="w-4/5 text-left justify-start pg-action-labels font-semibold">Align & Communicate with Stakeholders</span>
            </div>
          -->
        </div>
      </div>
    </div>
    <div class="bg-white rounded-t-md relative" [ngClass]="showStakeHolder ? 'overlay-sh-show' : 'overlay-sh-hide'">
      <div class="flex justify-center items-center py-2">
        <div class="w-8 h-2 bg-gray-300 rounded-md" (click)="showStakeHolder=false"></div>
      </div>
      <div class="text w-full absolute top-0">
        <div class="flex font-bold justify-center mt-6 mb-4 text-lg">Add Stakeholder</div>
        <div class="bg-white h-full flex flex-col" [formGroup]="stakeholderForm">
          <div class="my-2 mx-2">
            <input
              class="appearance-none bg-transparent text-base border-b border-gray-500 w-full pg-text-sprint-card pt-2 pb-4 leading-tight focus:outline-none"
              type="text" formControlName="name" placeholder="Name*" />
          </div>
          <div class="my-2 mx-2">
            <input
              class="appearance-none bg-transparent text-base  border-b border-gray-500 w-full pg-text-sprint-card pt-2 pb-4 leading-tight focus:outline-none"
              type="email" formControlName="email" placeholder="Email*" />
          </div>
          <button class="w-full py-4 rounded-t-md focus:outline-none font-semibold rounded" [ngClass]="
            stakeholderForm.valid
              ? 'pg-bg-blue-bright text-white'
              : 'bg-gray-400 pg-txt-blue-bright'
          " [disabled]="stakeholderForm.invalid" (click)="storeStakeHolder(); clearForm(); stopPropagation($event)">
            Submit
          </button>
        </div>
      </div>
    </div>
    <div class="bg-white rounded-t-md relative"
      [ngClass]="showSelectStakeHolder ? 'overlay-ssh-show' : 'overlay-ssh-hide'">
      <div class="flex justify-center items-center py-2">
        <div class="w-8 h-2 bg-gray-300 rounded-md" (click)="showSelectStakeHolder=false"></div>
      </div>
      <div class="text w-full absolute top-0">
        <div class="flex font-bold justify-center mt-6 mb-4 text-lg">
          Select StakeHolder
        </div>
        <div class="bg-white h-full flex flex-col mb-2" *ngIf="stakeholder.length === 0">
          <span class="text-base font-semibold">Add stakeholder first. </span>
        </div>
        <div class="bg-white h-full flex flex-col" *ngIf="stakeholder.length > 0">
          <div class="flex flex-row items-center pl-8" *ngFor="let sh of stakeholder">
            <mat-checkbox class="example-margin" [checked]="selectedStakeHolder.has(sh.id)"
              (change)="addToSelectedStakeHolder(sh); stopPropagation($event)">
              <div class="flex flex-row pl-4 items-center">
                <div class="h-16 w-16 p-1 rounded-full bg-white">
                  <span
                    class="pg-stakeholder-image-bg rounded-full h-full w-full flex justify-center items-center border-white text-white uppercase">
                    {{ sh.name.charAt(0) }}
                  </span>
                </div>
                <span class="pl-2">{{ sh.name }}</span>
              </div>
            </mat-checkbox>
          </div>
          <button
            class="w-full py-6 rounded-t-md focus:outline-none mt-2 pg-bg-blue-bright text-white text-lg font-semibold"
            (click)="addToActivityStakeholder()">
            {{ selectedStakeHolder.size === 0 ? "Done" : "Select" }}
          </button>
        </div>
      </div>
    </div>
    <div class="bg-white rounded-t-md relative" [ngClass]="showSelectCrew ? 'overlay-sc-show' : 'overlay-sc-hide'">
      <div class="flex justify-center items-center py-2">
        <div class="w-8 h-2 bg-gray-300 rounded-md" (click)="showSelectCrew=false"></div>
      </div>
      <div class="text w-full absolute top-0">
        <div class="flex font-bold justify-center mt-6 mb-4 text-lg">Select Crew</div>
        <div class="bg-white h-full flex flex-col">
          <div class="flex flex-row items-center pl-8" *ngFor="let crew of sprintCrew">
            <mat-checkbox class="example-margin" [checked]="selectedCrew.has(crew.id)"
              (change)="addToSelectedCrew(crew); stopPropagation($event)">
              <div class="flex flex-row pl-4 items-center">
                <div class="h-16 w-16 p-1 rounded-full bg-white">
                  <span
                    class="pg-stakeholder-image-bg rounded-full h-full w-full flex justify-center items-center border-white text-white uppercase">
                    {{ crew.name.charAt(0) }}
                  </span>
                </div>
                <span class="pl-2">{{ crew.name }}</span>
              </div>
            </mat-checkbox>
            <!-- <input type="checkbox" name="" id="" [checked]="selectedCrew.has(crew.id)" (change)="addToSelectedCrew(crew); stopPropagation($event)" />
          <div class="flex flex-row pl-4 items-center">
            <div class="h-10 w-10 p-1 rounded-full bg-white">
              <span
                class="pg-stakeholder-image-bg rounded-full h-full w-full flex justify-center items-center border-white text-white uppercase"
              >
                {{ crew.name.charAt(0) }}
              </span>
            </div>
            <span class="pl-2">{{crew.name}}</span>
          </div> -->
          </div>
          <button
            class="w-full py-6 rounded-t-md focus:outline-none mt-2 pg-bg-blue-bright text-white text-lg font-semibold"
            (click)="addToActivityCrew()">
            {{ selectedCrew.size > 0 ? "Select" : "Done" }}
          </button>
        </div>
      </div>
    </div>

  </div>
</div>