<div class="clients-div">
    <div class="background-white">
        <h2 class="heading-clients">You have no Teams</h2>
        <p class="text-font">You have no teams yet. Start creating your team!</p>
        <div class="button-container">
            <button class="btn btn-primary btn-rounded waves-effect button-text" type="button" (click)="createTeam()">
                <mat-icon class="plus-icon">add</mat-icon>
                Create New Team
            </button>
        </div>
    </div>
</div>