<div class="pg-container mb-4">
  <div class="rounded w-full lg:max-w-full bg-white p-4 flex flex-col lg:flex-row shadow-lg items-center justify-between">
    <div class="flex flex-col lg:flex-row">
      <div class="flex mb-4 lg:mb-0">
        <div class="pg-bg-orange pg-h-50 pg-w-50 rounded-full flex justify-center items-center mr-3">
          <mat-icon class="text-white">supervisor_account</mat-icon>
        </div>
        <div class="flex flex-col text-sm mr-8">
          <span>Feed Forward</span>
          <span>Support Crew</span>
        </div>
      </div>

      <div class="flex flex-row mb-4 lg:mb-0">

        <button class="block pg-h-50 pg-w-50 rounded-full overflow-hidden focus:outline-none focus:border-none mr-2">
          <img
            class="h-full w-full object-cover"
            src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=256&q=80"
            alt="Your avatar"
          />
        </button>

        <button class="block pg-h-50 pg-w-50 rounded-full overflow-hidden focus:outline-none focus:border-none mr-2">
          <img
            class="h-full w-full object-cover"
            src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=256&q=80"
            alt="Your avatar"
          />
        </button>

        <button class="block pg-h-50 pg-w-50 rounded-full overflow-hidden focus:outline-none focus:border-none mr-2">
          <img
            class="h-full w-full object-cover"
            src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=256&q=80"
            alt="Your avatar"
          />
        </button>

        <button class="block pg-h-50 pg-w-50 rounded-full overflow-hidden focus:outline-none focus:border-none mr-2">
          <img
            class="h-full w-full object-cover"
            src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=256&q=80"
            alt="Your avatar"
          />
        </button>

        <button class="block pg-h-50 pg-w-50 rounded-full overflow-hidden focus:outline-none focus:border-none mr-2">
          <img
            class="h-full w-full object-cover"
            src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=256&q=80"
            alt="Your avatar"
          />
        </button>
      </div>
    </div>

    <div>
      <button class="h-8 w-8 bg-gray-700 rounded-full flex items-center justify-around focus:outline-none focus:border-none text-white">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>
</div>
