<div class="flex flex-col lg:flex-row justify-between">

    <div class="w-full mr-4 mb-4 rounded-md overflow-hidden shadow-lg bg-white">
      <div class="px-6 py-4 flex flex-col h-full">
        <div class="text-xl mb-2 flex flex-row justify-between items-center">
          <div class="flex flex-row justify-between">
            <span
            class="mr-2 text-center flex items-center justify-center"
          >
            <mat-icon
              svgIcon="gift"
              class="pg-txt-green"
              aria-hidden="false"
            ></mat-icon>
          </span>
          <span class="font-bold">Actions</span>
          </div>
        </div>
        <hr>
        <div *ngIf="carouselItems?.length !== 0">
          <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="carouselItems">
            <div *nguCarouselDef="let item; let ind = index" class="item">
              <div class="tile flex flex-row justify-start items-center">
                <div class="flex items-center justify-center">
                  <span class="w-10 h-10 rounded-full pg-bg-blue-dark text-white flex justify-center items-center">{{ind + 1}}</span>
                </div>
                <div class="flex flex-col justify-center items-start ml-2">
                  <div class="mb-1 font-bold text-lg">{{item.label}}</div>
                  <div class="font-medium">{{item.description}}</div>
                </div>
              </div>
            </div>
            <button NguCarouselNext class="rightRs focus:outline-none pg-txt-blue-bright flex justify-center items-center border border-gray-500" [ngClass]="{'hidden': carouselItems.length === 1}"><mat-icon>chevron_right</mat-icon></button>
            <ul class="myPoint" NguCarouselPoint>
              <li *ngFor="let j of myCarousel.pointNumbers; let i = index" [class.active]="i===myCarousel.activePoint" (click)="myCarousel.moveTo(i)"></li>
            </ul>
          </ngu-carousel>
        </div>
      </div>
    </div>
    <div class="w-full mr-4 mb-4 rounded-md overflow-hidden shadow-lg bg-white">
      <div class="px-6 py-4 flex flex-col h-full w-full">
        <div class="text-xl mb-2 flex flex-row items-center justify-between">
          <div class="flex flex-row items-center">
            <span
            class="mr-2 text-center flex items-center justify-center"
          >
            <mat-icon
              svgIcon="timer"
              class="pg-txt-green"
              aria-hidden="false"
            ></mat-icon>
          </span>
          <span class="font-bold">Behaviors</span>
          </div>
        </div>
        <hr>
        <div *ngIf="carouselItems1?.length !== 0">
          <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="carouselItems1">
            <div *nguCarouselDef="let item; let ind = index" class="item">
              <div class="tile flex flex-row justify-start items-center">
                <div class="flex items-center justify-center">
                  <span class="w-10 h-10 rounded-full pg-bg-blue-dark text-white flex justify-center items-center">{{ind + 1}}</span>
                </div>
                <div class="flex flex-col justify-center items-start ml-2">
                  <div class="mb-1 font-bold text-lg">{{item.label}}</div>
                  <div class="font-medium">{{item.description}}</div>
                </div>
              </div>
            </div>
            <button NguCarouselNext class="rightRs focus:outline-none pg-txt-blue-bright flex justify-center items-center border border-gray-500" [ngClass]="{'hidden': carouselItems1.length === 1}"><mat-icon>chevron_right</mat-icon></button>
            <ul class="myPoint" NguCarouselPoint>
              <li *ngFor="let j of myCarousel.pointNumbers; let i = index" [class.active]="i===myCarousel.activePoint" (click)="myCarousel.moveTo(i)"></li>
            </ul>
          </ngu-carousel>
        </div>
      </div>
    </div>
    <div class="w-full mb-4 rounded-md overflow-hidden shadow-lg bg-white">
      <div class="px-6 py-4 flex flex-col h-full">
        <div class="text-xl mb-2 flex flex-row items-center justify-between">
          <div class="flex flex-row items-center">
            <span
            class="mr-2 text-center flex items-center justify-center"
          >
            <mat-icon
              class="pg-txt-green"
              aria-hidden="false"
            >done_all</mat-icon>
          </span>
          <span class="font-bold">Outcome</span>
          </div>
        </div>
        <hr>
        <div *ngIf="carouselItems2?.length !== 0">
          <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="carouselItems2">
            <div *nguCarouselDef="let item; let ind = index" class="item">
              <div class="tile flex flex-row justify-start items-center">
                <div class="flex items-center justify-center">
                  <span class="w-10 h-10 rounded-full pg-bg-blue-dark text-white flex justify-center items-center">{{ind + 1}}</span>
                </div>
                <div class="flex flex-col justify-center items-start ml-2">
                  <div class="mb-1 font-bold text-lg">{{item.label}}</div>
                  <div class="font-medium">{{item.description}}</div>
                </div>
              </div>
            </div>
            <button NguCarouselNext class="rightRs focus:outline-none pg-txt-blue-bright flex justify-center items-center border border-gray-500" [ngClass]="{'hidden': carouselItems2.length === 1}"><mat-icon>chevron_right</mat-icon></button>
            <ul class="myPoint" NguCarouselPoint>
              <li *ngFor="let j of myCarousel.pointNumbers; let i = index" [class.active]="i===myCarousel.activePoint" (click)="myCarousel.moveTo(i)"></li>
            </ul>
          </ngu-carousel>
        </div>
      </div>
    </div>
  </div>
  