.font-heading{
    font-weight: bold;
    font-size:18px;
}
.float-right{
    float:right;
}
.font-text{
    font-weight: 500;
    font-size:16px;
}
.btn_submit {
    color: #fff;
    background: #278ce9;
    font-size: 14px;
    border-radius: 22px;
    width: 55px;
    outline: none;
    border: none;
    padding: 5px 5px 5px 6px;
    margin-top: 25px;
    text-align: center;
    font-weight: bold;
  }
  .btn_submit-del{
    color: #fff;
    background: #ce5454;
    font-size: 14px;
    border-radius: 22px;
    width: 55px;
    outline: none;
    border: none;
    padding: 5px 5px 5px 6px;
    margin-top: 25px;
    text-align: center;
    font-weight: bold;
    margin-left:10px;
  }
  .margin-top-div{
      margin-top:20px;
  }
  