<div class="w-full flex flex-row items-center justify-between">
  <div class="pg-final-heading flex flex-row w-1/2 mr-4 rounded-r-full">
    <div class="pg-heading-symbol"></div>
    <h1 class="text-2xl font-bold">Sprint Crew</h1>
  </div>
  <div class="flex flex-row items-center justify-end w-1/2">
    <mat-icon svgIcon="pencil" class="mr-2 align-middle">edit</mat-icon>
    <span class="mr-10 text-2xl font-medium" style="color: #2C3E50;">Edit</span>
  </div>
</div>

<div class="pg-margin-inner mt-5 mb-10">
  <div class="flex flex-wrap">
    <div class="crew-card flex border-2 items-center justify-center cursor-pointer rounded-md mr-4 mb-4 relative" style="border-color: #3AA76D;" *ngFor="let user of screw">
      <div class="felx flex-col items-center justify-center text-center">
        <div class="flex items-center justify-center w-full">
          <div class="w-20 h-20" *ngIf="user?.avatar">
            <img [src]="user?.avatar" alt="Avatar">
          </div>
          <div class="w-20 h-20 bg-orange-400 text-center text-3xl text-white rounded-full flex justify-center items-center font-semibold" *ngIf="!user?.avatar">
            {{ user.name[0] | uppercase }}
          </div>
        </div>

        <div class="font-medium text-center text-xl" style="color: #333333;">{{user.name}}</div>
        <div class="font-medium text-sm" style="color: #808080;">{{user.role}}</div>
      </div>

      <div class="absolute border-2 selected-crew-done pl-2 pt-2"><mat-icon>done</mat-icon></div>
    </div>
  </div>
</div>
