<!-- <div class="w-full bg-white p-5 flex flex-col rounded-lg justify-between" style="height: 620px;">
  <div>
    <div class="flex flex-row">
      <h5>Weekly Check-In</h5>
      <label class="pg-tooltip flex flex-row items-center ml-2"
      ><mat-icon
        svgIcon="info"
        class="text-gray-200"
        aria-hidden="false"
      ></mat-icon
      ><input type="checkbox" />
      <div>
        <h4 class="font-medium mb-1">Weekly Check-in</h4>
        <span class="font-light text-xs">
          Consider current on-the-job challenges you have that will require you
        to Set Vision and Inspire Action. Common challenges that stretch this
        area are listed below. If one of them matches your on-the-job
        challenge, select it for your development sprint. If not, please
        select the custom sprint option.
        </span>
        </div>
      </label
    >
    </div>

    <div class="w-full mt-4">
      <div class="flex w-full">
        <input
          class="appearance-none flex-grow border rounded border-r-0 rounded-r-none py-2 px-3 text-gray-700 leading-tight focus:outline-none cursor-pointer"
          type="text" placeholder="Select Day/Time"
          [matDatepicker]="picker1"
          (click)="picker1.open()"
          readonly
        >
        <button class="border rounded focus:outline-none px-2" (click)="picker1.open()"><mat-icon class="align-middle" style="width: 42px;">today</mat-icon></button>
      </div>
      <mat-datepicker #picker1></mat-datepicker>
    </div>

    <div class="w-full mt-4">
      <label class="block tracking-wide text-gray-700 text-base font-medium mb-1">
        Start Date
      </label>
      <div class="flex w-full">
        <input class="appearance-none flex-grow border rounded border-r-0 rounded-r-none py-2 px-3 text-gray-700 leading-tight focus:outline-none cursor-pointer"  type="text" placeholder="Select" [matDatepicker]="picker" (click)="picker.open()" readonly>
        <button class="border rounded focus:outline-none px-2" (click)="picker.open()"><mat-icon class="align-middle" style="width: 42px;">today</mat-icon></button>
      </div>
      <mat-datepicker #picker></mat-datepicker>
    </div>
  </div>


  <div>
    <Span class="text-sm font-medium mr-2">End Date:</Span>
    <span class="text-sm font-medium pg-txt-orange-strength">10-16-2020</span>
  </div>

</div>

<div class="w-full mt-5">
  <button class="w-full h-20 rounded-lg text-white text-xs font-medium pg-bg-orange-strength focus:outline-none hover:bg-orange-500 active:bg-orange-600">Confirm & Continue</button>
</div>
<div class="w-full text-center">
  <button class="pg-txt-purple focus:outline-none">Save in Draft</button>
</div> -->
