<div class="pg-container flex flex-row justify-between">
    <div class="w-full flex flex-col lg:flex-row justify-start bg-white p-4 shadow-lg mb-4 rounded">
        <div class="w-full justify-center mb-4 lg:mb-0 lg:w-1/5 flex items-center lg:justify-start">
          <h3 class="text-2xl font-medium lg:text-xl pg-text-333">Support Crew</h3>
            <!-- <h3 class="text-2xl font-medium lg:text-xl pg-text-333">Sprint Roles</h3> -->
          </div>
          <!-- <div class="flex items-center w-full justify-center mb-4 lg:mb-0 lg:w-1/5">
            <p class="text-gray-800 font-medium text-md mt-1"><mat-icon style="color: #FFC107;">start</mat-icon></p>
            <span class="pg-text-333 ml-4">Feed Forward & Test</span>
          </div>
          <div class="flex items-center w-full justify-center mb-4 lg:mb-0 lg:w-1/5">
            <p class="text-gray-800 font-medium text-md mt-1"><mat-icon style="color: #FFC107;">start</mat-icon><mat-icon style="color: #FFC107;">start</mat-icon></p>
            <span class="pg-text-333 ml-4">Feed Forward & Test</span>
          </div> -->
    </div>
    <!-- <div class="w-1/12"></div> -->
  </div>
