.rounded{
    border-radius: 1.5rem;
     background-color: #fff;
  }
  
  .ds{
    border-radius: 1rem;
    padding: 1.5rem;
  }
  
  .pg-info{
    background-color: #f3f8ff;
    border-radius: 2rem;
  }
  
  // .btn{
  //   background-color: transparent !important;
  //   border: none;
  //   }
    
    .allow{
      cursor: pointer !important;
      background-color:#278ce9;
    }
    .not-allow{
      cursor: not-allowed !important;
      background-color:#8e9aae;
    }

	.pg {
		margin-top: 3rem;
	}
 