.box {
    width: 5rem;
    min-width: 5rem;
    height: 5rem;
    min-height: 5rem;
  }
  
  
  .left-nav-circle-direction-arrow{
    right: 0.1667rem;
  }
  
  .header{
    padding: 1rem;
      border-radius: 1rem;
      border: 2px solid #278ce9;
  }
  
  .padding{
    padding: 1rem;
  }
  
  .ps{
    position: fixed;
  }
  
  .pg-bg-green {
   color: #278ce9 !important;
  }
  
  // ul{
  //   padding: 25px;
  //     line-height: 25px;
  // }
  .pg-bg-black{
    color:#000;
  }
  .border-box{
    border: 2px solid #278ce9 !important;
  }
  .color-grey{
    color:#D3D3D3;
  }
  .border-color{
    border-color: #278ce9 !important;
  }
  // .bg-color-panel{
  //   background-color: #f3f8ff !important;
  //   border: 1px solid #278ce9 !important;
  // }