.rounded {
    border-radius: 1.5rem;
    // border:1px solid grey;
    background-color: #fff;
  }
  
  .ds {
    border-radius: 1rem;
    padding: 1.5rem;
  }
  
  .border {
    border: 1px solid gray;
    border-radius: 1rem;
    // margin: 2rem;
    background-color: #f3f8ff;
  }
  
  .pg-info {
    background-color: #f3f8ff;
    border-radius: 2rem;
  }
  
  // .btn {
  //   padding: 1rem;
  // }
  
  .pg-bg-green {
    color: #278ce9 !important;
  }
  
  // .pg {
  //   margin: 5rem;
  //   border-radius: 2rem;
  //   background-color: #f3f8ff;
  //   padding-left: 5rem;
  //   padding-right: 5rem;
  //   padding-bottom: 2rem;
  // }
  
  // .mat {
  //   background-color: white;
  //   border-radius: 2rem;
  //   padding-bottom: 1rem;
  // }

  .backg{
    background-color: #fff !important;
    border: 1px solid #278ce9 !important;
  }
  // .btn-width{
  //   width:6rem !important;
  //   margin-top:10px;
  // }
  // .btn-line-height{
  //   line-height:0 !important;
  // }

  .pg {
	  margin-top: 3rem;
  }