<div class="">
    <div class="flex justify-between align-center my-0">
        <h2 class="text-4xl font-bold not-italic tracking-wider">Process of cronofy registration</h2> 
        <div class="flex items center">
            <mat-icon class="cursor-pointer" (click)="closeModel()">close</mat-icon>
        </div>        
    </div>
    <hr />       
    <div class="message">
        <p>{{ message }}</p>
    </div>
    <div class="flex justify-center align-center my-0">
        <button mat-raised-button class="primary" (click)="closeModel()">Ok</button>
    </div>
</div>

