.my-0{
    margin:0 0 20px !important;
}

.message{
    margin: 20px 0 0;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.36px;
    text-align: left;
    color: #8e9aae;
}
.primary{
    background-color: #278ce9;
    color: #ffffff;
    margin: 30px 0 0;
}