.rounded {
    border-radius: 1.5rem;
    background-color: #fff;
  }
  
  .ds {
    border-radius: 1rem;
    padding: 1.5rem;
  }
  
  .border {
    border: 1px solid gray;
    border-radius: 1rem;
    background-color: #f3f8ff;
  }
  
  .pg-info {
    background-color: #f3f8ff;
    border-radius: 2rem;
  }
  
  .pg-bg-green {
    color: #278ce9 !important;
  }
  
  .backg{
    background-color: #fff !important;
    border: 1px solid #278ce9 !important;
  }
