<div class="pg-container mb-4">
  <div
    class="flex flex-col lg:flex-row justify-between bg-white p-4 shadow-lg mb-4 rounded"
  >
    <div
      class="w-full justify-center mb-4 lg:mb-0 lg:w-1/5 flex items-center lg:justify-start"
    >
      <h3 class="text-2xl font-medium lg:text-xl pg-text-333">
        Sprint roadmap
      </h3>
    </div>
    <div class="w-full justify-center mb-4 lg:mb-0 lg:w-1/5 flex items-center">
      <span class="text-sm pg-text-333 mr-2">Starts on :</span>
      <span class="text-sm pg-text-333">15 August 2020</span>
    </div>
    <div class="w-full justify-center mb-4 lg:mb-0 lg:w-1/5 flex items-center">
      <span class="text-sm pg-text-333 mr-2">Ends on :</span>
      <span class="text-sm pg-text-333">15 October 2020</span>
    </div>
    <div class="w-full justify-center mb-4 lg:mb-0 lg:w-1/5 flex items-center">
      <span class="text-sm pg-text-333 mr-2">Duration :</span>
      <span class="text-sm pg-text-333">2 Months</span>
    </div>
    <div class="w-full justify-center mb-4 lg:mb-0 lg:w-1/5 flex items-center">
      <span class="text-sm pg-text-333 mr-2">Feedback frequency :</span>
      <span class="text-sm pg-text-333">14 days</span>
    </div>
    <div class="w-full justify-center mb-4 lg:mb-0 lg:w-1/5 flex items-center">
      <div class="flex flex-row items-center">
        <span class="mr-2 text-xs">Status :</span>
        <div class="pg-btn-group focus:shadow-outline">
          <div
              class="flex items-center pg-bg-green text-white font-sm px-1 py-1"
            >
              <mat-icon svgIcon="progress" class="mr-2 mat-icon-14"></mat-icon>
              <span class="text-xs">In Progress</span>
            </div>
            <div
              class="flex items-center bg-gray-500 text-white font-sm px-1 py-1"
            >
              <mat-icon svgIcon="pause" class="mat-icon-14"></mat-icon>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
