.h-432 {
    height: 432px;
  }
  
  .l-420 {
    left: -420px;
  }
  
  .l-840 {
    left: -840px;
  }
  
  .l-420 {
    left: -420px;
  }
  
  .l-840 {
    left: -840px;
  }
  .pg-ml-72{
    margin-left: 4.6rem;
  }
  .pg-checkbox-left{
    margin-left: -2.9rem;
  }
  
  
  .card {
    margin: 20px auto;
    display: flex;
    width: 70%;
    background: #f3f8ff;
  }
  
  .bg {
    border-radius: 2rem;
    padding: 2rem;
    background: #f3f8ff;
  }
  
  // .border-2{
  //   background-color: #8e9aae;
    
  // }
  
  .round {
    border-radius: 1.5rem;
    border: 1px solid grey;
    background-color: #f3f8ff;
    padding: 1.5rem;
  }
  
  .rounded {
    border-radius: 1.5rem;
    // border:1px solid grey;
    background-color: #fff;
  }
  
  .ds {
    border-radius: 1rem;
    padding: 1.5rem;
  }
  
  // .border {
  //   border: 1px solid gray;
  //   border-radius: 1rem;
  //   margin: 2rem;
  //   background-color: #f3f8ff;
  // }
  
  .pg-info {
    background-color: #f3f8ff;
    border-radius: 2rem;
  }
  
  // .btn {
  //   padding: 1rem;
  // }
  
  .pg-bg-green {
    color: #278ce9 impo !important;
  }
  
  // .pg {
  //   margin: 5rem;
  //   border-radius: 2rem;
  //   background-color: #f3f8ff;
  // }
  
  // .mat {
  //   background-color: white;
  //   border-radius: 2rem;
  //   padding-bottom: 1rem;
  // }
  
  .backg{
    background-color: #fff !important;
  }
  
  .bod{
    border:2px solid #278ce9 !important;
    background-color: #fff;
  }
  
  .position-block{
    position: relative;
  }
  .position-cross{
    position: absolute;
    right: -6px;
    top: -8px;
    font-size: 20px;
  }
  // .word-break{
  //   word-break: break-all;
  // }
  
  // .custombtn {
  //   width: 50%;
  //   margin-left: 25%;
  //   margin-right: 25%;
  // }
  // .donebtn{
  //   float: right;
  //   padding: 1rem;
  //   background-color: #278ce9;
  //   color: #fff;
  //   margin: 2rem;
  //   width: 5rem;
  //  }
  //  .padding-des{
  //   padding:10px;
  // }
  // .ml-label{
  //   margin-left:-8px;
  //   margin-top:10px;
  // }
  // .mr-10{
  //   margin-right:7px;
  // }
  // .icon-width{
  //   width:23px !important;
  //   height:23px !important;
  // }
  