.commnet-main-div{
    background-color: #EBF2FB;;
    border-radius: 20px;
    height:250px;
    padding: 5px;
    margin-top:15px;
}
.commnet-second-div{
    padding:20px;
}
.text-area-border{
    border: 1px solid #DBDDE1 !important;
    width: 100%;
    height: 137px;
    text-indent: 7px;
    padding: 5px;
    border-radius: 10px;
  }
.padding-20{
      padding-left:20px
  }
  .user-text{
    line-height: 2.9;
    margin-left: 10px;
  }  
  .color-comment{
    font-weight: bold;
    color:#278ce9;
    font-size:18px;
  }
  .border-comment{
    border-bottom:3px solid #278ce9;
    width:25%;
  }