<div class="border-r border-gray-400 pg-sidebar bg-white z-10" style="margin-top: 76px;">
  <div class="flex flex-col justify-start sidebar-content">
    <div class="ml-16 mt-10">
      <span class="text-3xl font-bold">Settings</span>
    </div>
    <div class="flex mt-4 ml-6 rounded-l-full cursor-pointer focus:outline-none text-gray-500"
      [routerLink]="['/profile/general-settings']" routerLinkActive="pg-txt-green border border-r-0 border-gray-400">
      <span class="py-3 pl-10 text-xl flex w-full h-full font-bold">My Profile</span>
    </div>
    <div class="flex mt-4 ml-6 rounded-l-full cursor-pointer focus:outline-none text-gray-500"
      [routerLink]="['/profile/active-consent']" routerLinkActive="pg-txt-green border border-r-0 border-gray-400">
      <span class="py-3 pl-10 text-xl flex w-full h-full font-bold">Active Consent</span>
    </div>
    <!-- <div class="flex mt-4 ml-6 rounded-l-full cursor-pointer focus:outline-none text-gray-500"
      [routerLink]="['/dashboard/my-dashboard']" routerLinkActive="pg-txt-green border border-r-0 border-gray-400">
      <span class="py-3 pl-10 text-xl flex w-full h-full font-bold">My Portfolio</span>
    </div> -->
    <!-- <div class="flex mt-4 ml-6 rounded-l-full cursor-pointer focus:outline-none text-gray-500"
      [routerLink]="['/profile/viewing-rights']" routerLinkActive="pg-txt-green border border-r-0 border-gray-400">
      <span class="py-3 pl-10 text-xl flex w-full h-full font-bold">Viewing Rights</span>
    </div> -->
  </div>
</div>
