.margin-top-card {
	margin-top: 30px !important;
	padding-bottom: 20px;
}
.margin-bottom-text {
	margin-bottom: 20px;
	margin-left: 10px;
	font-size: 14px !important;
}
.no-data-text {
	text-align: center;
	font-weight: 500;
	margin-bottom: 20px;
	font-size: 12px !important;
}
.margin-card {
	margin-top: 15px !important;
}
.trend-text {
	font-size: 14px !important;
}
.margin-bottom-graph {
	margin-bottom: 40px;
}

.action-mr {
	margin-top: 2.5rem !important;
}

.pg-container {
	padding-bottom: 10rem;
	max-width: 960px;
	width: 100%;
	height: 100%;
	margin-inline: auto;
}
