<div class="pg-container mb-4">
  <div
    class="flex flex-col lg:flex-row justify-between bg-white p-4 shadow-md mb-4 rounded"
  >
    <div
      class="w-full justify-center mb-4 lg:mb-0 lg:w-1/3 flex items-center lg:justify-start"
    >
      <span
        class="r-2 text-center rounded-full pg-bg-orange-light flex items-center justify-center pg-w-70 pg-h-70"
      >
        <mat-icon
          class="pg-txt-orange"
          svgIcon="fire"
          aria-hidden="false"
        ></mat-icon>
      </span>
      <h2 class="text-2xl ml-3 font-medium">Building Resilience</h2>
    </div>
    <div class="w-full mb-4 lg:mb-0 lg:w-1/3 flex items-center justify-center">
      <p class="font-medium">
        Set and communicate a vision and purpose for team and align stakeholders
        to the same
      </p>
    </div>
    <div
      class="w-full mb-4 lg:mb-0 ml-0 lg:ml-10 lg:w-1/3 flex items-center justify-between"
    >
      <div class="flex justify-between">
        <button
          style="background-color: #ff5c00;"
          class="mr-2 hover:bg-orange-500 text-white font-sm px-2 py-1 rounded lg:ml-10 lg:mr-8 pg-h-33 pg-w-88"
        >
          <span class="text-xs">Sprint 4</span>
        </button>
        <div class="flex flex-row items-center">
          <span class="mr-2 text-xs">Status :</span>
          <div class="pg-btn-group focus:shadow-outline">
            <div
              class="flex items-center pg-bg-green text-white font-sm px-1 py-1"
            >
              <mat-icon svgIcon="progress" class="mr-2 mat-icon-14"></mat-icon>
              <span class="text-xs">In Progress</span>
            </div>
            <div
              class="flex items-center bg-gray-500 text-white font-sm px-1 py-1"
            >
              <mat-icon svgIcon="pause" class="mat-icon-14"></mat-icon>
            </div>
          </div>
        </div>
      </div>
      <mat-icon aria-hidden="false" class="text-gray-500 cursor-pointer"
        >more_vert</mat-icon
      >
    </div>
  </div>
</div>
