
<div style="margin: 32px 0px">
  <div mat-dialog-content>
    <div>
      <img
        src="/assets/icons/dashboard/thumb.svg"
        alt=""
        class="mx-auto"
        width="82px"
        height="115px"
      />
    </div>
      <p class="font-text text-center" style="margin-bottom: 8px; font-family: Inter;font-weight: bold;font-size: 24px;line-height: 40px; letter-spacing: -0.011em;">
        Congratulations on completing your Development Plan! <br/>Manage your Sprint easily on your Desktop</p>
    
    </div>
    <div mat-dialog-content  style="margin-top: 10px;font-family: DM Sans;font-size: 16px;line-height: 150%;color: #2F80ED;letter-spacing: 0.02em;min-width: 103%;    margin: auto;">
      
      <div class="d-flex">
        <img src="/assets/icons/dashboard/mail.svg"
          alt=""
          class="cursor-pointer"
          width="20"
        /><p class="font-text ml-2">Calendar invites have been sent to remind and block off your time for Weekly Check-ins.</p>
      </div>
      <div class="d-flex">
        <img src="/assets/icons/dashboard/message.svg"
          alt=""
          class="cursor-pointer"
          width="20"
        /><p class="font-text ml-2">To start you off, your Sprint Crew will provide Advice on how to ensure your Sprint is a success.</p>
      </div>
      <div class="d-flex">
        <img src="/assets/icons/dashboard/user.svg"
          alt=""
          class="cursor-pointer"
          width="20"
        /><p class="font-text ml-2">At your set frequency, your Sprint Crew will provide Feedback on your progress.</p>
      </div>
    </div>
    <div mat-dialog-actions class="btn-right" style="padding-bottom: 25px;    padding: 19px 0;">
      <button class="btn  mx-auto" (click)="onNoClick()">Go to My Sprint</button>
    </div>
  </div>