// .rounded-border{
//     border-radius: 15px !important;
// }

// .textchange{
//     font-size: 12px;
//     font-weight: 900;
// }

// .mat-form-field {
//   line-height: 4.125 !important;
// }

// .sprintbox {
//     background-color: #e2e8f0;
//     border-radius: 2rem;
//     padding: 2rem;
//     margin: 1rem;

// }

.inputbox {
  border: 1px solid black;
  padding: 0.3rem;
}

.pg-tooltip-left div {
  visibility: visible !important;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  border-radius: 2rem;
}

.example-margin {
  margin: 0 10px;
  height: 9px !important;
  border-radius: 20px !important;
}

.text-xs {
  color: #278ce9;
  font-size: 16px;
  font-weight: 600;
  margin-left: -55rem;
}

// .align {
//   // margin-top: -170px;
//   // margin-right: 200px;
// }

.textstyle {
  margin-left: 20%;
  margin-right: 20%;
}

.progressbar-style {
  width: 60%;
  height: 20%;
  padding: 30px;
}

.pbtn {
  background-color: #9ac9f4 !important;
  padding: 0.5rem;
  border-radius: 2rem !important;
  font-size: 12px !important;
  color: #fff;
  width: 87px;
}
.probar {
  display: flex;
}
.sprint-background {
  background-color: #f3f8ff;
  border-radius: 15px;
}
.background-sprint {
  border-radius: 15px !important;
  background-color: #fff !important;
  padding: 15px !important;
}
.color-text {
  color: #8e9aae;
  padding-left: 15px;
}
// .probar{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     background-color: #fff;
//     margin-top: -20px;
// }

// .probar1{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     background-color: #fff;
//     margin-top: -10px;
//     border-bottom-left-radius: 1rem;
//     border-bottom-right-radius: 1rem;
//     padding: 1rem;
// }

// .topred{
//     border-top-left-radius: 1rem;
//     border-top-right-radius: 1rem;
// }
