<div class="pg-container flex flex-col lg:flex-row justify-between">

  <div class="w-full mr-4 mb-4 rounded-md overflow-hidden shadow-lg bg-white">
    <!-- <img class="w-full" src="/img/card-top.jpg" alt="Sunset in the mountains"> -->
    <div class="px-6 py-4 flex flex-col justify-between h-full">
      <div class="text-xl mb-2 flex flex-row items-center">
        <span
          class="pg-w-70 pg-h-70 mr-2 text-center rounded-full pg-bg-orange-light flex items-center justify-center"
        >
          <mat-icon
            svgIcon="timer"
            class="pg-txt-orange"
            aria-hidden="false"
          ></mat-icon>
        </span>
        <span>Key Actions</span>
      </div>

      <div class="actions-carousal">
        <div class="actions-carousal-inner">
          <input
            class="actions-carousal-open"
            type="radio"
            id="actions-carousal-1"
            name="actions-carousal"
            aria-hidden="true"
            hidden=""
            checked="checked"
          />
          <div class="actions-carousal-item flex">
            <div class="w-1/5 text-white flex items-center justify-center">
              <button
                class="h-8 w-8 pg-bg-orange rounded-full flex items-center justify-center focus:outline-none focus:border-none"
              >
                1
              </button>
            </div>
            <div class="w-3/5">
              <p class="font-normal text-sm">
                Interview or conduct survey of stakeholders to identify value your group adds to them today and how you can add more value in future
              </p>
            </div>
          </div>
          <input
            class="actions-carousal-open"
            type="radio"
            id="actions-carousal-2"
            name="actions-carousal"
            aria-hidden="true"
            hidden=""
          />
          <div class="actions-carousal-item flex">
            <div class="w-1/5 text-white flex items-center justify-center">
              <button
                class="h-8 w-8 pg-bg-orange rounded-full flex items-center justify-center focus:outline-none focus:border-none"
              >
                2
              </button>
            </div>
            <div class="w-3/5">
              <p class="font-normal text-sm">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Voluptatibus quia, nulla! Maiores et perferendis eaque,
                exercitationem praesentium nihil.
              </p>
            </div>
          </div>
          <input
            class="actions-carousal-open"
            type="radio"
            id="actions-carousal-3"
            name="actions-carousal"
            aria-hidden="true"
            hidden=""
          />
          <div class="actions-carousal-item flex">
            <div class="w-1/5 text-white flex items-center justify-center">
              <button
                class="h-8 w-8 pg-bg-orange rounded-full flex items-center justify-center focus:outline-none focus:border-none"
              >
                3
              </button>
            </div>
            <div class="w-3/5">
              <p class="font-normal text-sm">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Voluptatibus quia, nulla! Maiores et perferendis eaque,
                exercitationem praesentium nihil.
              </p>
            </div>
          </div>
          <label for="actions-carousal-3"></label>
          <label for="actions-carousal-2" class="actions-carousal-control next control-1"
            ><mat-icon>chevron_right</mat-icon></label
          >
          <label for="actions-carousal-1" class="actions-carousal-control prev control-2"
            ><mat-icon>chevron_left</mat-icon></label
          >
          <label for="actions-carousal-3" class="actions-carousal-control next control-2"
            ><mat-icon>chevron_right</mat-icon></label
          >
          <label for="actions-carousal-2" class="actions-carousal-control prev control-3"
            ><mat-icon>chevron_left</mat-icon></label
          >
          <label for="actions-carousal-1"></label>
          <ol class="actions-carousal-indicators">
            <li>
              <label for="actions-carousal-1" class="actions-carousal-bullet">•</label>
            </li>
            <li>
              <label for="actions-carousal-2" class="actions-carousal-bullet">•</label>
            </li>
            <li>
              <label for="actions-carousal-3" class="actions-carousal-bullet">•</label>
            </li>
          </ol>
        </div>
      </div>

      <!-- <div>
        <div class="text-center">
          <span class="dot dot-active"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div> -->
    </div>
  </div>
  <div class="w-full mr-4 mb-4 rounded-md overflow-hidden shadow-lg bg-white">
    <!-- <img class="w-full" src="/img/card-top.jpg" alt="Sunset in the mountains"> -->
    <div class="px-6 py-4 flex flex-col justify-between h-full w-full">
      <div class="text-xl mb-2 flex flex-row items-center">
        <span
          class="pg-w-70 pg-h-70 mr-2 text-center rounded-full pg-bg-orange-light flex items-center justify-center"
        >
          <mat-icon
            svgIcon="gift"
            class="pg-txt-orange"
            aria-hidden="false"
          ></mat-icon>
        </span>
        <span>Key Outcomes</span>
      </div>

      <div class="outcome-carousel">
        <div class="outcome-carousel-inner">
          <input
            class="outcome-carousel-open"
            type="radio"
            id="outcome-carousel-1"
            name="outcome-carousel"
            aria-hidden="true"
            hidden=""
            checked="checked"
          />
          <div class="outcome-carousel-item flex">
            <div class="w-1/5 text-white flex items-center justify-center">
              <button
                class="h-8 w-8 pg-bg-orange rounded-full flex items-center justify-center focus:outline-none focus:border-none"
              >
                1
              </button>
            </div>
            <div class="w-3/5">
              <h4>Confidence</h4>
              <p class="font-normal text-sm">
                feeling sure of yourself and your abilities not in an arrogant way, but in a realistic, secure way.
              </p>
            </div>
          </div>
          <input
            class="outcome-carousel-open"
            type="radio"
            id="outcome-carousel-2"
            name="outcome-carousel"
            aria-hidden="true"
            hidden=""
          />
          <div class="outcome-carousel-item flex">
            <div class="w-1/5 text-white flex items-center justify-center">
              <button
                class="h-8 w-8 pg-bg-orange rounded-full flex items-center justify-center focus:outline-none focus:border-none"
              >
                2
              </button>
            </div>
            <div class="w-3/5">
              <p class="font-normal text-sm">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Voluptatibus quia, nulla! Maiores et perferendis eaque,
                exercitationem praesentium nihil.
              </p>
            </div>
          </div>
          <input
            class="outcome-carousel-open"
            type="radio"
            id="outcome-carousel-3"
            name="outcome-carousel"
            aria-hidden="true"
            hidden=""
          />
          <div class="outcome-carousel-item flex">
            <div class="w-1/5 text-white flex items-center justify-center">
              <button
                class="h-8 w-8 pg-bg-orange rounded-full flex items-center justify-center focus:outline-none focus:border-none"
              >
                3
              </button>
            </div>
            <div class="w-3/5">
              <p class="font-normal text-sm">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Voluptatibus quia, nulla! Maiores et perferendis eaque,
                exercitationem praesentium nihil.
              </p>
            </div>
          </div>
          <label for="outcome-carousel-3"></label>
          <label for="outcome-carousel-2" class="outcome-carousel-control next control-1"
            ><mat-icon>chevron_right</mat-icon></label
          >
          <label for="outcome-carousel-1" class="outcome-carousel-control prev control-2"
            ><mat-icon>chevron_left</mat-icon></label
          >
          <label for="outcome-carousel-3" class="outcome-carousel-control next control-2"
            ><mat-icon>chevron_right</mat-icon></label
          >
          <label for="outcome-carousel-2" class="outcome-carousel-control prev control-3"
            ><mat-icon>chevron_left</mat-icon></label
          >
          <label for="outcome-carousel-1"></label>
          <ol class="outcome-carousel-indicators">
            <li>
              <label for="outcome-carousel-1" class="outcome-carousel-bullet">•</label>
            </li>
            <li>
              <label for="outcome-carousel-2" class="outcome-carousel-bullet">•</label>
            </li>
            <li>
              <label for="outcome-carousel-3" class="outcome-carousel-bullet">•</label>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full mb-4 rounded-md overflow-hidden shadow-lg bg-white">
    <!-- <img class="w-full" src="/img/card-top.jpg" alt="Sunset in the mountains"> -->
    <div class="px-6 py-4 flex flex-col justify-between h-full">
      <div class="text-xl mb-2 flex flex-row items-center">
        <span
          class="pg-w-70 pg-h-70 mr-2 text-center rounded-full pg-bg-orange-light flex items-center justify-center"
        >
          <mat-icon class="pg-txt-orange" aria-hidden="false"
            >done_all</mat-icon
          >
        </span>
        <span>Key Behavior</span>
      </div>

      <div class="behaviour-carousal">
        <div class="behaviour-carousal-inner">
          <input
            class="behaviour-carousal-open"
            type="radio"
            id="behaviour-carousal-1"
            name="behaviour-carousal"
            aria-hidden="true"
            hidden=""
            checked="checked"
          />
          <div class="behaviour-carousal-item flex">
            <div class="w-1/5 text-white flex items-center justify-center">
              <button
                class="h-8 w-8 pg-bg-orange rounded-full flex items-center justify-center focus:outline-none focus:border-none"
              >
                1
              </button>
            </div>
            <div class="w-3/5">
              <p class="font-normal text-sm">
                Expert performance is hard work and requires repeated actions.
              </p>
            </div>
          </div>
          <input
            class="behaviour-carousal-open"
            type="radio"
            id="behaviour-carousal-2"
            name="behaviour-carousal"
            aria-hidden="true"
            hidden=""
          />
          <div class="behaviour-carousal-item flex">
            <div class="w-1/5 text-white flex items-center justify-center">
              <button
                class="h-8 w-8 pg-bg-orange rounded-full flex items-center justify-center focus:outline-none focus:border-none"
              >
                2
              </button>
            </div>
            <div class="w-3/5">
              <p class="font-normal text-sm">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Voluptatibus quia, nulla! Maiores et perferendis eaque,
                exercitationem praesentium nihil.
              </p>
            </div>
          </div>
          <input
            class="behaviour-carousal-open"
            type="radio"
            id="behaviour-carousal-3"
            name="behaviour-carousal"
            aria-hidden="true"
            hidden=""
          />
          <div class="behaviour-carousal-item flex">
            <div class="w-1/5 text-white flex items-center justify-center">
              <button
                class="h-8 w-8 pg-bg-orange rounded-full flex items-center justify-center focus:outline-none focus:border-none"
              >
                3
              </button>
            </div>
            <div class="w-3/5">
              <p class="font-normal text-sm">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Voluptatibus quia, nulla! Maiores et perferendis eaque,
                exercitationem praesentium nihil.
              </p>
            </div>
          </div>
          <label for="behaviour-carousal-3"></label>
          <label for="behaviour-carousal-2" class="behaviour-carousal-control next control-1"
            ><mat-icon>chevron_right</mat-icon></label
          >
          <label for="behaviour-carousal-1" class="behaviour-carousal-control prev control-2"
            ><mat-icon>chevron_left</mat-icon></label
          >
          <label for="behaviour-carousal-3" class="behaviour-carousal-control next control-2"
            ><mat-icon>chevron_right</mat-icon></label
          >
          <label for="behaviour-carousal-2" class="behaviour-carousal-control prev control-3"
            ><mat-icon>chevron_left</mat-icon></label
          >
          <label for="behaviour-carousal-1"></label>
          <ol class="behaviour-carousal-indicators">
            <li>
              <label for="behaviour-carousal-1" class="behaviour-carousal-bullet">•</label>
            </li>
            <li>
              <label for="behaviour-carousal-2" class="behaviour-carousal-bullet">•</label>
            </li>
            <li>
              <label for="behaviour-carousal-3" class="behaviour-carousal-bullet">•</label>
            </li>
          </ol>
        </div>
      </div>

      <!-- <div>
        <div class="text-center">
          <span class="dot dot-active"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div> -->
    </div>
  </div>
</div>
