.fad-preview:last-child {
  hr {
    display: none;
  }
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.card {
  margin: 20px auto;
  display: flex;
  width: 70%;
  background: #f3f8ff;
}

.bg {
  border-radius: 2rem;
  padding: 2rem;
  background: #f3f8ff;
}

.round {
  border-radius: 1.5rem;
  border: 1px solid grey;
  background-color: #f3f8ff;
  padding: 1.5rem;
}

.rounded {
  border-radius: 1.5rem;
  background-color: #fff;
}

.ds {
  border-radius: 1rem;
  padding: 1.5rem;
}

// .btn{
// background-color: transparent !important;
// border: none;
// }

.allow{
  cursor: pointer !important;
  background-color:#278ce9;
}
.not-allow{
  cursor: not-allowed !important;
  background-color: #8e9aae;
}

.pg-info {
  background-color: #f3f8ff;
  border-radius: 2rem;
}

.Select-3-Priorities-for-your-Development {
  font-size: 20px;
  font-weight: bold;
  color: #051532;
}


.pg-tooltip div{
  top: -2em !important ;
  right: 100px !important;
}

.pg {
	margin-top: 3rem;
}