.event-cancel-wrapper {
	padding: 2rem 5rem;
	position: relative;

	.img-holder {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	img {
		width: 10rem;
		height: auto;
	}

	.btn-blue {
		border-radius: 3px;
		box-shadow: 0px 0px 4px 0px #00000040;
		color: white;
		cursor: pointer;
		font-weight: 700;
		margin-top: 1.5rem;
		padding: 10px 30px;
		text-align: center;
		width: fit-content;
	}
}

.cross-icon {
	background-image: url("/assets/icons/cross_black.svg");
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: 2rem;
	right: 2rem;
	width: 3rem;
	height: 3rem;
	cursor: pointer;
}

mat-form-field {
	width: 100%;
}
