.cross-right{
    float:right;
}
// .bg-div{
//     background-color: #f3f8ff;
//     border-radius: 10px;
//     margin-top:20px;
//     padding:20px;
// }
.background-color {
    background-color: #F3F8FF;
    border-radius: 10px;
    margin-top: 20px;
    padding: 15px;
}
.border-bottom{
  height: 1px;
  align-self: stretch;
  flex-grow: 0;
  background-color: #dbdde1;
  margin-top:15px;
  margin-bottom: 15px;
}
.icon-color{
color:#278ce9;
cursor:pointer;
}
.cursor-none{
  cursor:pointer;
}
.heading-view{
  font-size: 16px !important;
  font-weight: bold !important;
  color: #051532 !important;
}
.h-title{
    font-size: 14px !important;
    font-weight: bold !important;
    color: #051532 !important;  
    margin-bottom: 15px !important;
}
.p-text{
    font-size: 12px !important;
    color: #8e9aae !important;
    // margin-top:15px !important;
}
.div-margin-top{
    margin-top:10px;
}

  .btn {
    text-align: center;
    padding: 5px 20px;
    background-color: #fff;
    color: #8E9AAE;
    font-weight: bold;
    font-size: 12px;
    border: 1px solid #DBDDE1;
}
.button-background-color{
  background-color: #278ce9;
  color:#fff;
}
  .display-button{
    display:inline-flex;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .on-buttom{
    text-align: center;
      margin-top: 10px;
      margin-left: 20px;
  }
  .btn-margin{
    margin-left:10px;
  }
  .d-width{
    width:30%;
  }