

<div class="height-div">
  <h2 class="font-weight-bold event-date-font">
    <span class="material-icons cross-right cursor-pointer" (click)="onNoClick()">
      clear
    </span>
  </h2>
</div>
<div class="background-color">
    <ng-container *ngIf="eventData?.length > 0">
      <div class="text-margin" *ngFor="let data of eventData;let i = index;">
        <span class="display-span"  (click)="viewEventDetails(data)">
          <span [ngStyle]="{ 'background-color': '#278ce9', 'width': '10px', 'height': '10px','border-radius':'10px','margin-top':'4px'}">
          </span>
          <span class="margin-title title-font">{{data?.activity_type?.title}}</span>
          <span class="material-icons color">
            keyboard_arrow_right
            </span>
        </span>  
        <div class="date-font mt-3" >
          <span>{{timeArray[i]?.timeFrom}} {{timeArray[i]?.fromMeridian}}- </span>
          <span>{{timeArray[i]?.timeTo}} {{timeArray[i]?.toMeridian}}</span>
        </div>        
        <div class="border-bottom"></div>
      </div>
   
    </ng-container> 
    <div class="event-date-font justify-center d-flex items-center" *ngIf="eventData?.length == 0">
      No data Found
    </div>
    <div class="button-container">
        <button class="btn" (click)="addEvent()">Add Event</button>
      </div>
  </div>
