.cross-right{
    float:right;
    color:#88898c;
    font-size: 20px;
}
.background-color{
    background-color: #F3F8FF;
    border-radius:10px;
    margin-top:20px;
    padding: 0 15px;
    position: relative;
}
.border-bottom{
    border-bottom:1px solid #dbdde1 !important;
}
.display-span{
    display: inline-flex;
}
.text-margin{
    padding: 15px 0 0;
}
.color{
    color:#278ce9;
    position: absolute;
    right: 15px;
}
.button-container{
    text-align:center;
    margin-top:30px;
}
.btn{
    padding: 15px;   
}
.event-date-font{
    font-size:16px;
    color:#051532;
    font-weight: bold;
}
.margin-title{
    margin-left: 16px;
    width: 92%;
}
.date-font{
    font-size: 12px;
    color:#8e9aae;
}
.height-div{
    height:20px;
}