.display-div {
	display: inline-flex;
}
.circle {
	border: 1px solid #278ce9;
	background-color: #278ce9;
	height: 25px;
	border-radius: 50%;
}
.margin-left-circle {
	margin-left: 10px;
}
.icon-color {
	color: #fff;
}
.h-point-five {
	height: 0.7rem !important;
}

.return-efforts {
	width: 300px;
}

.pg-container,
.return-efforts-main {
	padding-top: 2rem;
	padding-bottom: 10rem;
	max-width: 960px;
	width: 100%;
	height: 100%;
	margin-inline: auto;
}

@media screen and (max-width: 400px) {
	.return-efforts {
		width: 250px;
	}
}
