<div class="clients-div">
    <div class="background-white">
        <h2 class="heading-clients">Your Growth Leader Assessment is Incomplete. We recommend you to complete it first</h2>
            <h2 class="heading-clients"> Select 'Continue' to switch to .TEAM mode or 'Skip' to complete your assessment in .LEAD mode</h2>
        <!-- <p class="text-font">You have no teams yet.Start creating your teams</p> -->
        <div class="float-right">
            <button  class="btn_submit" (click)="goToGLA()">Skip</button>
            <button class="btn_submit-del" (click)="goToTeams()">Continue</button>  
          </div>
    </div>
</div>
