
<div
  class="h-screen max-h-screen w-full flex justify-center items-center flex-col"
>
  <div class="flex items-center cursor-pointer w-32 h-24">
    <img src="/assets/images/logo.svg" alt="" class="w-full h-full" />
  </div>
  <div
    class="w-full flex-1 md:w-5/6 xl:w-4/6 bg-white flex flex-col p-4 shadow-md rounded-md overflow-y-auto"
  >
  
    <div class="flex-1 overflow-y-auto font-medium bg-white mt-5">
      <!-- <p>Welcome to Produgie!</p><br> -->

      <p>Produgie was created to help equip leaders and teams with the mindsets, capabilities and culture
          required for business performance and growth. Please take a moment to learn more about the
          information we gather and how it is managed. We need your agreement before we can proceed.
      </p>
      <br>
      <p><b>Your Rights as a Produgie User</b></p><br>

      <p>We are committed to respecting & protecting your rights as a Produgie User and will always be
          transparent about this with you. To us this means:</p><br>
      <ul>
          <li class="mt-1">You have the right to know what information is gathered about you, how this is used, and who (if
              anyone other than you) can view your information.</li>
          <li class="mt-5">You have the right to NOT complete any assessment in Produgie, although this action will reduce
              the accuracy of recommendations Produgie provides you. If your employer has asked you to
              complete an assessment and you have any questions about this, please speak with them directly.
          </li>
          <li class="mt-5">We will always protect your data privacy in line with local and international data privacy &
              protection laws such as PDPA, GDPR and CCPA. You can review our data policies <a href="https://www.produgie.com/terms" style="color: blue;" target="_new">here.</a></li>

          <li class="mt-5">If you leave Produgie, and wish to have your data removed from our data storage, you may do so
              by informing us of this by email to <a href="mailto:produgie.support@produgie.com"
                  style="color: blue;" target="_new">produgie.support@produgie.com</a> </li>
          <li class="mt-5">We will safely store & manage your data in a location that is compliant with local data laws in
              which the data originates.</li>
          <li class="mt-5" >If we have experienced a breach in our security in a way that might compromise your data, we
              will let you know within 72 hours.
          </li>
          <li class="mt-5" >When we change our data retention or storage policies or practices, we will let you know and ask
              for your consent within 1 month of making these changes.</li>
          <li class="mt-5" >If you change employers, you may take over your own license as long as you let us know before
              your license expires. We may charge a small fee for this service.</li>
          <li class="mt-5" >If you leave your current employer and go to another Produgie customer, we will migrate your
              account if your employer wishes to pay for your license and a small transfer fee. All our
              policies are published on our website and please review these any time at: <a
                  href="http://www.produgie.com/terms" style="color: blue;" target="_new">
                  www.produgie.com/terms</a></li>

      </ul>
      <br/>
      <!-- <span class="mt-10">
          <label>
            <input type="checkbox" checked disabled style="margin-right: 10px;"> 
            I understand and agree to Produgie User Rights </label>
          <br>
      </span>
      <br> -->
      <span class="font-bold">
          <p>Viewing Rights</p>
      </span><br>
      <p>In Produgie, you can always know who can view your information. If your company has configured Produgie so that a person has viewing rights over any of your information, you will see this in your Viewing Rights panel. After you agree to the Produgie User Rights, you can view or edit your viewing rights by clicking on Settings > Viewing Rights. 
        <!-- Click <a href="https://my.produgie.com/dashboard/viewing-rights" style="color: blue;" target="_new">here</a> to view or edit viewing rights. -->
      </p><br>
    
      <span class="font-bold">
          <p>Research</p>
      </span><br>
      <p>We conduct research on an ongoing basis to make Produgie more useful to our Users and to develop deeper insights into how leaders develop. This includes data that you provide in any assessment and your behaviour in Produgie. This research is anonymized, and all personal identifiers are removed. We regularly share summaries of this research at professional conferences and in reputable publications. By allowing us to include you in this research, you will benefit those who come after you – as those who came before you made it better for you. You can opt out of this research if you wish when you complete any assessment.
      </p><br>
      <p>I understand and agree to participate in Produgie Research. I would like Produgie to invite me to consider being part of special studies and to share key insights from this research with me.
      </p><br>
        <br><br>
      <span class="font-bold">
          <p>
              Produgie Polices
          </p>
      </span>
      <br>
      <p>
          Terms & Conditions<br>
          <a href="https://www.websitepolicies.com/policies/view/ckxALf6f"
              style="color: blue;" target="_new">https://www.websitepolicies.com/policies/view/ckxALf6f</a>
      </p><br>
      <p>
          Privacy policy<br>
          <a href="https://www.websitepolicies.com/policies/view/ETqWLZtQ" style="color: blue;" target="_new">
              https://www.websitepolicies.com/policies/view/ETqWLZtQ</a>
      </p><br>
      <p>
          DMCA Policy<br>
          <a href="https://www.websitepolicies.com/policies/view/mRVi6OgV" style="color: blue;" target="_new">
              https://www.websitepolicies.com/policies/view/mRVi6OgV</a>
      </p><br>
      <p>
          Disclaimer<br>
          <a href="https://www.websitepolicies.com/policies/view/FHoG2VPX"
              style="color: blue;" target="_new">https://www.websitepolicies.com/policies/view/FHoG2VPX</a>
      </p><br>
      <p>
          Cookies<br>
          <a href="https://www.websitepolicies.com/policies/view/xD0kkszc"
              style="color: blue;" target="_new">https://www.websitepolicies.com/policies/view/xD0kkszc</a>
      </p><br>
      <p>
          Acceptable Use<br>
          <a href="https://www.websitepolicies.com/policies/view/ZscbYJix"
              style="color: blue;" target="_new">https://www.websitepolicies.com/policies/view/ZscbYJix</a>
      </p><br>

      <!-- <span class="mb-20">
          <label>

              <input type="checkbox" checked disabled style="margin-right: 10px;">Yes, I Agree
          </label>
          <br> <br><br>
      </span> -->
  </div>
    <div *ngIf="isLoading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="flex flex-row justify-between items-center">
      <span>
      <label>
          <input
            type="checkbox"
            [checked]="isChecked"
            (click)="toggleChecked()"
            style="margin-right: 10px"
          />Yes, I Agree
        </label>
      </span>
      <br><br>
     <div  class="flex flex-row flex-end items-center">
      <div
        class="border my-2 items-center rounded-md bg-red-600"
        *ngIf="!isChecked"
      >
        <button
          class="border-none py-4 px-4 text-white text-center font-bold focus:outline-none bg-red-600"
          style="text-align: center; width: 10rem"
          [disabled]="isLoading"
          (click)="signOut()"
        >
          Exit
        </button>
      </div>
      <div
        class="border my-2 items-center rounded-md"
        [ngClass]="{ 'bg-gray-600': !isChecked, 'bg-blue-600': isChecked }"
      >
        <button
          class="border-none py-4 px-4 text-white text-center font-bold focus:outline-none"
          (mouseover)="checkConsent()"
          [ngClass]="{ 'bg-gray-600': !isChecked, 'bg-blue-600': isChecked }"
          style="text-align: center; width: 10rem"
          [disabled]="isLoading"
          (click)="accept()"
        >
          Continue
        </button>
      </div>
     </div>
    </div>
  </div>
  <div class="h-24"></div>
</div>
