.pg-w-h {
  height: calc(100vh - 131px);
}
.right-margin{
  margin-right: 20px;
}

.download-buttons{
  justify-content: flex-end;
}

.font20{
  font-size: 20px !important;
}
.font14{
  font-size: 14px !important;
}

.border{
  border-radius: 5px !important;
  padding: 10px 48px;
}
.btnDisabled{
  cursor: not-allowed !important;
  opacity: 0.4 !important;
  color: #ff0000;
}
@media print {
  .print-view{
    visibility: hidden;
  }

  .intro{
    margin-top:90px;
  }
  .page-break{
    page-break-after:always !important;
  }
}

.spacing{
  margin-top: 6rem;
}


::ng-deep .mat-tooltip {
 color: #fff;
  font-size: 12px;
  border: grey;
}

.firefox {
  display: none;
}

.print-helper-text{
  text-align: right;
font-style: italic;
margin-bottom: 10px;
}

@-moz-document url-prefix() {
//  .firefox {
//    display: block;
// }

// ::ng-deep .mat-tooltip {
//   color: yellow;
//    font-size: 12px;
//    border: grey;
//  }

//  label{
//    color:red; 
//  }

}