<div class="flex h-full flex-col ">
  <div class="flex flex-row justify-between align-center p-4">
    <span class="font-bold text-2xl txt-montserra">Change Password</span>
    <mat-icon (click)="dialogRef.close()" class="cursor-pointer">close</mat-icon>
  </div>
  <hr>
  <div class="flex-1 p-4" [formGroup]="passwordForm">

    <div class="flex border bg-white border-gray-400 py-4 px-4 my-2 rounded-md">
      <input type="password" data-private class=" appearance-none border-none w-full mr-3 py-2 px-2 leading-tight focus:outline-none"
        formControlName="oldPassword" [type]="showOldPassword ? 'text' : 'password'" placeholder="Current Password">
      <mat-icon class="cursor-pointer" [ngClass]="showOldPassword ? 'text-black' : 'text-gray-400'"
        (click)="showOldPassword = !showOldPassword">{{showOldPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
    </div>
    <p
      *ngIf="passwordForm.controls.oldPassword.invalid && (passwordForm.controls.oldPassword.touched && passwordForm.controls.oldPassword.dirty && !passwordForm.controls.oldPassword.pristine)">
      Please enter your current password
    </p>

    <div class="flex border bg-white border-gray-400 py-4 px-4 my-2 rounded-md">
      <input type="password" data-private class=" appearance-none border-none w-full mr-3 py-2 px-2 leading-tight focus:outline-none"
        formControlName="newPassword" [type]="showNewPassword ? 'text' : 'password'" placeholder="New Password">
      <mat-icon class="cursor-pointer" [ngClass]="showNewPassword ? 'text-black' : 'text-gray-400'"
        (click)="showNewPassword = !showNewPassword">{{showNewPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
    </div>
    <p
      *ngIf="passwordForm.controls.newPassword.invalid && (passwordForm.controls.newPassword.touched && passwordForm.controls.newPassword.dirty && !passwordForm.controls.newPassword.pristine)">
      Please enter a new passoword ranging 6 to 20 characters
    </p>
    <div class="flex border bg-white border-gray-400 py-4 px-4 my-2 rounded-md">
      <input type="password"
        data-private
        class=" appearance-none border-none w-full mr-3 py-2 px-2 leading-tight focus:outline-none focus:border-none"
        formControlName="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'"
        placeholder="Confirm New Password">
      <mat-icon class="cursor-pointer" [ngClass]="showConfirmPassword ? 'text-black' : 'text-gray-400'"
        (click)="showConfirmPassword = !showConfirmPassword">{{showConfirmPassword ? 'visibility' : 'visibility_off'}}
      </mat-icon>
    </div>
    <p
      *ngIf="passwordForm.controls.confirmPassword.invalid && (passwordForm.controls.confirmPassword.touched && passwordForm.controls.confirmPassword.dirty && !passwordForm.controls.confirmPassword.pristine)">
      Please confirm new password</p>
  </div>
  <div class="flex border bg-blue-600 items-center rounded-md" style="width: 10rem;"
    [ngClass]="{'bg-gray-600 cursor-not-allowed': passwordForm.invalid, 'bg-blue-600': passwordForm.valid}">
    <button class="border-none p-4 bg-blue-600 text-white text-center font-bold focus:outline-none"
      style="text-align: center; width: 10rem;" (click)="changePassword()" [disabled]="passwordForm.invalid"
      [ngClass]="{'bg-gray-600 cursor-not-allowed': passwordForm.invalid, 'bg-blue-600': passwordForm.valid}">SAVE</button>
  </div>

</div>
