<div class="flex flex-col lg:flex-row justify-between">
  <div class="w-full lg:w-1/3 xl:w-2/2 mr-4 mb-12 pb-4 rounded overflow-hidden shadow-lg bg-white">
    <mat-card class="pt-4 flex flex-col h-full">
      <div class="text-xl flex flex-row items-center justify-between">
        <div class="flex flex-row items-center">
          <!-- <div>
            <span class="ml-3 mr-2 text-center flex items-center justify-center">
              <mat-icon
                svgIcon="flash"
                class="pg-txt-green mat-icon-18"
                aria-hidden="false"
              ></mat-icon>
            </span>
          </div> -->
          <span class="heading-2">Strengths</span>
        </div>

        <mat-icon aria-hidden="false" class="text-gray-500 cursor-pointer mat-icon-18">more_vert</mat-icon>
      </div>
      <!-- <hr /> -->
      <div class="flex h-full px-4">
        <ul class="w-full flex flex-col justify-evenly">
          <li class="list-key flex flex-row items-center mb-3 pb-3" *ngFor="let strength of strenghts">
            <span class="w-10 h-10 mr-4 text-center rounded-full flex items-center justify-center">
              <mat-icon *ngIf="feedbackpage =='feedbackpage'"
                [svgIcon]="strength.icon + 'grey'" class="mat-icon-42 pg-txt-green" aria-hidden="false"></mat-icon>
                <mat-icon *ngIf="finalFeedbackpage =='finalFeedbackpage'"
                [svgIcon]="strength.icon + 'grey'" class="mat-icon-42 pg-txt-green" aria-hidden="false"></mat-icon>
              <mat-icon *ngIf="feedbackpage !='feedbackpage' &&  finalFeedbackpage !='finalFeedbackpage'"
                [svgIcon]="strength.capability.icon + 'grey'" class="mat-icon-42 pg-txt-green" aria-hidden="false"></mat-icon>
                
             </span>
            <span 
              *ngIf="feedbackpage !='feedbackpage' && finalFeedbackpage !='finalFeedbackpage'">{{strength.capability.label}}</span>
            <span 
              *ngIf="feedbackpage =='feedbackpage'">{{strength.label}}</span>
            <span 
              *ngIf="finalFeedbackpage =='finalFeedbackpage'">{{strength.label}}</span>
          </li>
        </ul>
      </div>
    </mat-card>
  </div>

  <div
    class="w-full lg:w-2/3 xl:w-2/3 mb-12 pb-4 overflow-hidden rounded flex flex-col bg-white shadow-lg priority-dev">
    <mat-card class="flex flex-col h-full">
      <div class="text-xl flex flex-row items-center justify-between">
        <div class="flex flex-row items-center">
          <!-- <div>
            <span class="mr-2 text-center flex items-center justify-center">
              <mat-icon
                svgIcon="flash"
                class="text-green-700 mat-icon-18"
                aria-hidden="false"
              ></mat-icon>
            </span>
          </div> -->
          <span class="font-14-heading bold-text">Priorities for Development</span>
        </div>
        <!-- <mat-icon aria-hidden="false" class="pg-txt-blue-bright cursor-pointer" *ngIf="message.isEdit"
          (click)="openWarningModal()">edit</mat-icon> -->
      </div>
      <!-- <hr> -->
      <div class="flex flex-col lg:flex-row justify-between items-center w-full " style="padding: 15px;">
        <div class="flex w-1/3 justify-between items-center flex-col priority-dev__block padding-box"
          style="border-radius: 1rem;" *ngFor="let fad of fads"
          [ngStyle]="{'background-color': fad.id === priority ? '#64b5f620' : 'white'}">
          <span class="flex items-center justify-center relative span-margin-bottom" *ngIf=" fad.id == priority">
            <!-- [ngStyle]="{'background-color': fad.id === priority ? 'white' : '#64b5f620'}" -->
            <mat-icon class="text-white" [svgIcon]="fad.icon" aria-hidden="false"></mat-icon>
            <!-- <span class="absolute bottom-0 rounded-full w-6 h-6 pg-bg-green text-white flex justify-center items-center -mb-3" *ngIf="fad.id === priority"><mat-icon class="mat-icon-18">check</mat-icon></span> -->
          </span>

          <span class="flex items-center justify-center relative span-margin-bottom" *ngIf=" fad.id != priority">
            <mat-icon class="text-white" [svgIcon]="fad.icon + 'grey'" aria-hidden="false"></mat-icon>
          </span>
          <p class="font-14-heading text-center" [ngStyle]="{'color': fad.id === priority ? '#278ce9' : '#8e9aae'}">
            {{fad.label}}
          </p>

        </div>
        <!-- <div class="flex w-1/3 justify-center items-center flex-col p-10">
          <p class="font-semibold text-base text-center text-gray-800">
            Develop Growth Mindset
          </p>
          <span
            class="pg-w-88 pg-h-88 r-2 rounded-full pg-bg-red-light flex items-center justify-center"
          >
            <mat-icon
              class="mat-icon-42 pg-txt-red"
              svgIcon="idea"
              aria-hidden="false"
            ></mat-icon>
          </span>
        </div>
        <div class="flex w-1/3 justify-center items-center flex-col p-10">
          <p class="font-semibold text-base text-center text-gray-800">
            Structure & Execute Growth Plan
          </p>
          <span
            class="pg-w-88 pg-h-88 r-2 rounded-full pg-bg-blue-light flex items-center justify-center"
          >
            <mat-icon
              svgIcon="vision"
              aria-hidden="false"
              class="pg-txt-blue mat-icon-48"
            ></mat-icon>
          </span>
        </div> -->
      </div>
    </mat-card>
  </div>
  <!-- <div
    class="w-full lg:w-1/3 xl:w-1/4 mb-4 rounded overflow-hidden shadow-lg bg-white"
  > -->
  <!-- <div class="pt-4 flex flex-col h-full">
      <div class="text-xl px-4 mb-2 flex flex-row items-center justify-between"> -->
  <!-- <div class="flex flex-row items-center">
          <span class="flex items-center justify-center">
            <mat-icon
              svgIcon="file"
              class="mat-icon-18 text-gray-500"
              aria-hidden="false"
            ></mat-icon>
          </span>
          <span class="font-semibold ml-2">Portfolio</span>
          <mat-icon class="ml-1 cursor-pointer text-gray-500 mat-icon-18"
            >save_alt</mat-icon
          >
        </div> -->
  <!-- <div> -->
  <!-- <mat-icon class="mr-3 cursor-pointer">save_alt</mat-icon> -->
  <!-- <mat-icon class="mr-3 cursor-pointer mat-icon-18" aria-label="sort-by" (click)="isOpen = !isOpen" cdkOverlayOrigin #trigger="cdkOverlayOrigin">sort</mat-icon>
          <button
            *ngIf="isOpen"
            (click)="isOpen = false"
            tabindex="-1"
            class="fixed inset-0 h-full w-full cursor-default"
          ></button>
          <ng-template
            cdkConnectedOverlay
            [cdkConnectedOverlayOrigin]="trigger"
            [cdkConnectedOverlayOpen]="isOpen"
          >
            <ul class="py-2 px-1 bg-white rounded-lg pg-dd-shadow">
              <li class="px-2 py-2 rounded-md text-gray-800 hover:bg-indigo-500 hover:text-white">Newest</li>
              <li class="px-2 py-2 rounded-md text-gray-800 hover:bg-indigo-500 hover:text-white">Option 2</li>
              <li class="px-2 py-2 rounded-md text-gray-800 hover:bg-indigo-500 hover:text-white">Option 3</li>
            </ul>
          </ng-template> -->
  <!-- <mat-icon
            aria-hidden="false"
            class="text-gray-500 cursor-pointer mat-icon-18"
            >more_vert</mat-icon
          >
        </div>
      </div>
      <hr> -->
  <!-- <div class="flex mb-4 mt-3 justify-center items-center h-full">
        <span class="text-gray-500 font-bold">No data yet</span> -->
  <!-- <ul class="w-full">
          <li class="list-key flex flex-row items-center mb-3 pb-3 pl-2">
            <div class="mr-8">
              <span class="pg-w-36 pg-h-36 text-center rounded-full pg-bg-orange-light flex items-center justify-center badge-orange">
                <span class="h-6 w-6 rounded-full pg-bg-orange-light flex items-center justify-center" matBadge="1" matBadgeSize="small">
                  <mat-icon svgIcon="fire" class="mat-icon-18 pg-txt-orange" aria-hidden="false"></mat-icon>
                </span>
              </span>
            </div>

            <span class="text-xs font-medium">Develop a new Strategy (Discover): Gather and analyse market & customer trends, identity internal needs</span>
          </li>
          <li class="list-key flex flex-row items-center mb-3 pb-3 pl-2">
            <div class="mr-8">
              <span class="pg-w-36 pg-h-36 text-center rounded-full pg-bg-orange-light flex items-center justify-center badge-orange">
                <span class="h-6 w-6 rounded-full pg-bg-orange-light flex items-center justify-center" matBadge="2" matBadgeSize="small">
                  <mat-icon svgIcon="fire" class="mat-icon-18 pg-txt-orange" aria-hidden="false"></mat-icon>
                </span>
              </span>
            </div>
            <span class="text-xs font-medium">Develop a new Strategy (Decide): Identity strategic options and gather stakeholder input to decide strategy</span>
          </li>
          <li class="list-key flex flex-row items-center pb-3 pl-2">
            <div class="mr-8">
              <span class="pg-w-36 pg-h-36 text-center rounded-full pg-bg-blue-light flex items-center justify-center badge-cyan">
                <span class="h-6 w-6 rounded-full pg-bg-blue-light flex items-center justify-center" matBadge="3" matBadgeSize="small">
                  <mat-icon svgIcon="vision" aria-hidden="false" class="pg-txt-blue mat-icon-18"></mat-icon>
                </span>
              </span>
            </div>

            <span class="text-xs font-medium">Develop a new Strategy (Deliver): Complete strategy plan, communicate and begin implementation</span>
          </li>
        </ul> -->
  <!-- </div>
    </div> -->
  <!-- </div> -->
</div>