//-------------- Padding --------------
.p-18{
  padding:18px !important;
}

.px-10 {
  padding-right: 10px;
  padding-left: 10px;
}

.px-24 {
  padding-right: 24px;
  padding-left: 24px;
}

.px-48 {
  padding-right: 48px;
  padding-left: 48px;
}