<div class="flex flex-col justify-between p-4 h-full w-full">
    <div class="flex justify-center items-center mb-2 relative">
        <span class="font-semibold text-xl heading-5">Edit Priorities for Development</span>
        <span class="absolute right-0 flex justify-center items-center cursor-pointer" (click)="Cancel()"><mat-icon class="text-gray-600">close</mat-icon></span>
    </div>
    <div class="flex flex-row justify-center items-center mb-2">
        <mat-icon class="text-red-600 mr-2">error_outline</mat-icon>
        <span class="font-semibold text-md  heading-5">Warning!</span>
    </div>
    <div>
        <!-- <p class="text-center text-xs font-semibold mb-2">
            When you confirm, Produgie will send you your <a>Development Plan</a> to Sprint Crew for Supportive Advice. If you are not ready yet, <br>
            you can work on this later.
        </p> -->
        <p class="text-center text-xs font-semibold mb-2 font-14-heading">
            When you change your focus for development, your current Sprint will be reset so that you can design one for the new focus
        </p>
    </div>
    <div class="flex justify-center">
        <button class="pg-bg-blue-dark text-white py-4 px-20 rounded-md focus:outline-none" (click)="onConfirm()">CONTINUE</button>
    </div>
</div>