<div
  class="bg-white rounded-md shadow-md pg-card-260 flex flex-col justify-between p-4 mb-2"
>
  <div class="flex flex-col justify-between">
    <div class="flex flex-row justify-between items-center">
      <div class="flex items-center justify-between">
        <mat-icon
          class="text-2xl"
          aria-hidden="false"
          fontSet="material-icons-outlined"
          >visibility</mat-icon
        >
        <span class="ml-1">Sprint Roadmap</span>
      </div>
      <mat-icon class="text-gray-600 cursor-pointer">more_horiz</mat-icon>
    </div>
    <div class="flex flex-row justify-start items-center mt-4">
      <img
        class="h-16 w-16 object-cover rounded-full p-1"
        src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=256&q=80"
        alt="Your avatar"
      />
      <img
        class="h-16 w-16 object-cover rounded-full p-1"
        src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=256&q=80"
        alt="Your avatar"
      />
      <img
        class="h-16 w-16 object-cover rounded-full p-1"
        src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=256&q=80"
        alt="Your avatar"
      />
      <img
        class="h-16 w-16 object-cover rounded-full p-1"
        src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=256&q=80"
        alt="Your avatar"
      />
      <img
        class="h-16 w-16 object-cover rounded-full p-1"
        src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=256&q=80"
        alt="Your avatar"
      />
      <img
        class="h-16 w-16 object-cover rounded-full p-1"
        src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=256&q=80"
        alt="Your avatar"
      />
      <button
        class="pg-bg-blue-dark rounded-full flex items-center justify-center focus:outline-none focus:border-none mat-icon-59 mx-1"
      >
        <mat-icon class="text-2xl text-white" aria-hidden="false">add</mat-icon>
      </button>
    </div>
  </div>
  <div class="flex justify-end">
    <div>
      <label class="switch">
        <input type="checkbox" [checked]="true" />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</div>
