<div
  class="relative config-sprint"
  *ngIf="actions.length > 0 || customActions.length > 0"
>
  <div
    class="bg-white rounded-md flex flex-col shadow-lg border"
    [ngClass]="grayOverlay ? 'border-gray-100 ' : ' border-gray-600 bod'"
  >
    <div class="flex flex-row">
      <span class="heading-5">Actions to Take</span>
      <label
        class="pg-tooltip flex flex-row items-center ml-2 focus:outline-none"
      >
        <mat-icon
          fontSet="material-icons-outlined"
          class="text-gray-500 mat-icon-18"
          >info</mat-icon
        ><input type="checkbox" />
        <div class="font-light text-xs">
          Select actions to help you structure the Sprint work plan. Click on
          the Sprint arrow to see a description
        </div>
      </label>
    </div>
    <div class="flex justify-between items-center">
      <span class="font-12-heading">(Select up to {{ maxSelection }})</span>
      <!-- <span class="cursor-pointer pg-txt-blue-bright text-xs font-semibold" (click)="expandAll()">{{ this.shownAction.size === this.actions.length && this.shownActionCustom.size === this.customActions.length ? 'Collapse All' : 'Expand All'}}</span> -->
    </div>

    <!-- <hr /> -->
    <div *ngIf="actions.length > 0" class="mt-3">
      <div
        *ngFor="let action of actions; let i = index"
        class="cursor-pointer overflow-hidden pg-box-preview border"
        (click)="selectAction(action, i)"
        [ngClass]="{
          'border-2 pg-border-green-bright backg pg-selected':
            selectedActions.has(action.id),
          'pg-border-b-none': selectedActions.has(actions[i + 1]?.id)
        }"
      >
        <div
          class="
            relative
            h-full
            flex flex-row
            justify-between
            items-center
            ml-label
          "
        >
          <!-- <span *ngIf="selectedActions.has(action.id)"
            class="h-16 w-16 top-0 right-0 absolute border rounded-full pg-bg-green -mr-8 -mt-8">
            <mat-icon class="text-white mat-icon-18 selection-green-tick">check
            </mat-icon>
          </span> -->
          <div class="flex flex-row">
            <!-- <mat-icon [svgIcon]="action.icon" class="mat-icon-28" [ngClass]="action.iconclass" aria-hidden="false">
            </mat-icon> -->
            <div class="flex flex-col">
              <span class="heading-5">{{ action.label }}</span>
            </div>
          </div>

          <div class="flex flex-row items-center justify-between">
            <span
              class="flex justify-end items-center -mr-4"
              *ngIf="
                selectedActions.has(action.id) &&
                action?.actionStakeHolder?.length > 0
              "
            >
              <div
                class="h-10 w-10 p-1 rounded-full bg-white -ml-4"
                *ngFor="let stakeholder of action?.actionStakeHolder"
              >
                <span
                  class="
                    pg-stakeholder-image-bg
                    rounded-full
                    h-full
                    w-full
                    flex
                    justify-center
                    items-center
                    border-white
                    text-white
                    uppercase
                    heading-5
                  "
                >
                  {{ stakeholder.name.charAt(0) }}
                </span>
              </div>
            </span>
            <!-- <div
              class="flex justify-center items-center"
              [helipopper]="tpl"
              helipopperTrigger="manual"
              (click)="formmenu.show(); clearForm(); stopPropagation($event)"
              #formmenu="helipopper"
              helipopperPlacement="right"
              helipopperVariation="popper"
            > -->
              <div class="rounded-full flex justify-center items-center">
                <div class="flex justify-center items-center">
                  <button
                  (click)="stopPropagation($event)"
                    class="
                      flex
                      justify-center
                      items-center
                      person-add
                      focus:outline-none
                    "
                    [disabled]="selectedActions.has(action.id)"
                   
                  >
                  <mat-icon (click)="addStakeholder(action, i, false)">person_add</mat-icon>
                  </button>
                  
                </div>
              </div>
            <!-- </div> -->
            <!-- <div class="flex justify-center items-center"
              *ngIf="selectedActions.has(action.id) && action?.actionStakeHolder?.length > 0" [helipopper]="tpl" helipopperTrigger="manual" (click)="formmenu.show(); clearForm(); stopPropagation($event)" #formmenu="helipopper"  helipopperPlacement="right" helipopperVariation="popper">
                  <button class="flex bg-transparent justify-center items-center focus:outline-none"
                    [disabled]="!selectedActions.has(action.id)">
                    <mat-icon class="bg-white mat-icon-12 pg-txt-blue-bright" aria-hidden="false">person_add</mat-icon>
                  </button>
            </div> -->
            <ng-template #tpl>
              <div
                class="bg-white"
                (click)="stopPropagation($event)"
                [formGroup]="stakeholderForm"
              >
                <div
                  class="flex flex-row justify-between items-center"
                  (click)="stopPropagation($event)"
                >
                  <span class="font-14-heading">Add Stakeholder</span>
                </div>
                <div class="my-2" (click)="stopPropagation($event)">
                  <input
                    class="
                      appearance-none
                      bg-transparent
                      border-b border-gray-600
                      w-full
                      text-gray-700
                      py-2
                      leading-tight
                      focus:outline-none
                    "
                    type="text"
                    formControlName="name"
                    placeholder="Name*"
                  />
                </div>
                <div class="my-2" (click)="stopPropagation($event)">
                  <input
                    class="
                      appearance-none
                      bg-transparent
                      border-b border-gray-600
                      w-full
                      text-gray-700
                      py-2
                      leading-tight
                      focus:outline-none
                    "
                    type="email"
                    formControlName="email"
                    placeholder="Email*"
                  />
                </div>
                <div class="" (click)="stopPropagation($event)">
                  <button
                    class="btn focus:outline-none"
                    [ngClass]="
                      stakeholderForm.valid
                        ? 'pg-bg-blue-dark text-white'
                        : 'bg-gray-400 pg-txt-blue-bright'
                    "
                    [disabled]="stakeholderForm.invalid"
                    (click)="
                      storeStakeHolder(action, i, false);
                      formmenu.hide();
                      clearForm();
                      stopPropagation($event)
                    "
                  >
                    Add
                  </button>
                </div>
              </div>
            </ng-template>
            <div class="pg-mat-menu">
              <mat-menu #StakeholderMatMenu #menu="matMenu">
                <div
                  class="h-full w-full py-2"
                  (click)="stopPropagation($event)"
                >
                  <div
                    class="flex flex-row justify-between items-center mx-4"
                    (click)="stopPropagation($event)"
                  >
                    <span class="font-14-heading">Add Stakeholder</span>
                    <mat-icon
                      class="mat-icon-18 text-gray-600"
                      (click)="closeMatMenu($event)"
                      >close</mat-icon
                    >
                  </div>
                  <div class="my-2 mx-4" (click)="stopPropagation($event)">
                    <input
                      class="
                        appearance-none
                        bg-transparent
                        border-b border-gray-600
                        w-full
                        text-gray-700
                        py-2
                        leading-tight
                        focus:outline-none
                      "
                      type="text"
                      placeholder="Name*"
                    />
                  </div>
                  <div class="my-2 mx-4" (click)="stopPropagation($event)">
                    <input
                      class="
                        appearance-none
                        bg-transparent
                        border-b border-gray-600
                        w-full
                        text-gray-700
                        py-2
                        leading-tight
                        focus:outline-none
                      "
                      type="email"
                      placeholder="Email*"
                    />
                  </div>
                  <div class="mx-4" (click)="stopPropagation($event)">
                    <button
                      class="btn py-2 px-6 rounded-md"
                      (click)="stopPropagation($event)"
                    >
                      Add
                    </button>
                  </div>
                </div>
              </mat-menu>
            </div>
            <!-- <mat-icon class="pg-txt-blue-bright"> -->
            <!-- {{ shownAction.has(action.id) ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}} -->
            <!-- </mat-icon> -->
          </div>
          <!-- <div class="flex ">
          <button class="flex bg-transparent justify-center items-center focus:outline-none"
            [disabled]="!selectedActions.has(action.id)" (click)="showDescription(action.id); $event.stopPropagation();">
            <mat-icon class="person-add" aria-hidden="false">person_add</mat-icon>
          </button> 
        </div> -->
        </div>
        <div class="flex flex-row justify-between items-center">
          <span class="text-base font-14-heading">
            {{ action.description }}
          </span>
        </div>
        <!-- <hr /> -->
      </div>
    </div>
    <!-- <hr> -->
    <!-- <div class="w-full border-b border-dashed border-gray-400"></div> -->
    <div *ngIf="customActions.length > 0">
      <div class="flex flex-row items-center py-4">
        <span class="text-lg font-bold font-14-heading">Custom Actions</span>
        <label class="pg-tooltip flex flex-row items-center ml-2 mb-0">
          <mat-icon
            svgIcon="info"
            class="text-gray-200"
            aria-hidden="false"
          ></mat-icon
          ><input type="checkbox" />
          <div class="font-light text-xs">
            Select Custom Action in description.
          </div>
        </label>
      </div>
      <div
        *ngFor="let action of customActions; let i = index"
        class="border cursor-pointer overflow-hidden pg-box-preview"
        (click)="selectActionCustom(action, i)"
        [ngClass]="{
          'border-2 pg-border-green-bright backg pg-selected':
            selectedActionsCustom.has(action.id),
          'pg-border-b-none': selectedActionsCustom.has(
            customActions[i + 1]?.id
          )
        }"
      >
        <div class="relative h-full flex flex-row justify-between items-center">
          <!-- <span *ngIf="selectedActionsCustom.has(action.id)"
            class="h-16 w-16 top-0 right-0 absolute border rounded-full pg-bg-green -mr-8 -mt-8">
            <mat-icon class="text-white mat-icon-18 selection-green-tick">check
            </mat-icon>
          </span> -->
          <div class="flex flex-row items-center">
            <!-- <mat-icon
              [svgIcon]="action.icon"
              class="mat-icon-28"
              [ngClass]="action.iconclass"
              aria-hidden="false"
            >
            </mat-icon> -->
            <div class="flex flex-col">
              <span class="heading-5">{{ action.label }}</span>
            </div>
          </div>
          <div class="flex flex-row items-center justify-between">
            <span
              class="flex justify-end items-center -mr-4"
              *ngIf="
                selectedActionsCustom.has(action.id) &&
                action?.actionStakeHolder?.length > 0
              "
            >
              <div
                class="h-10 w-10 p-1 rounded-full bg-white -ml-4"
                *ngFor="let stakeholder of  action?.actionStakeHolder"
              >
                <span
                  class="
                    pg-stakeholder-image-bg
                    rounded-full
                    h-full
                    w-full
                    flex
                    justify-center
                    items-center
                    border-white
                    text-white
                    uppercase
                  "
                >
                  {{ stakeholder.name.charAt(0) }}
                </span>
              </div>
            </span>
           <!-- <div
              class="
                rounded-full
                pg-light-outer
                w-10
                h-10
                flex
                justify-center
                items-center
              "
              *ngIf="
                selectedActionsCustom.has(action.id) &&
                (!action?.actionStakeHolder ||
                  action?.actionStakeHolder?.length === 0)
              "
              [helipopper]="tpl"
              helipopperTrigger="manual"
              (click)="formmenu.show(); clearForm(); stopPropagation($event)"
              #formmenu="helipopper"
              helipopperPlacement="right"
              helipopperVariation="popper"
            >  -->
              <div
                class="
                  rounded-full
                  pg-dark-outer
                  w-8
                  h-8
                  flex
                  justify-center
                  items-center
                "
                *ngIf="
                selectedActionsCustom.has(action.id)"
              >
                <div class="flex justify-center items-center">
                  <button
                    class="flex justify-center items-center focus:outline-none"
                    [disabled]="!selectedActionsCustom.has(action.id)"
                  >
                    <mat-icon class="mat-icon-12" aria-hidden="false" 
                  
                    (click)="addCustomStakeholder(action, i, true)">person_add</mat-icon
                    >
                  </button>
                </div>
              </div>
            <!-- </div> -->
            <!-- <div
              class="
                rounded-full
                bg-white
                border border-dashed border-gray-500
                w-8
                h-8
                p-1
                flex
                justify-center
                items-center
              "
              *ngIf="
                selectedActionsCustom.has(action.id) &&
                action?.actionStakeHolder?.length > 0
              "
              [helipopper]="tpl"
              helipopperTrigger="manual"
              (click)="formmenu.show(); clearForm(); stopPropagation($event)"
              #formmenu="helipopper"
              helipopperPlacement="right"
              helipopperVariation="popper"
            >
              <button
                class="
                  flex
                  bg-transparent
                  justify-center
                  items-center
                  focus:outline-none
                "
                [disabled]="!selectedActionsCustom.has(action.id)"
              >
                <mat-icon
                  class="bg-white mat-icon-12 pg-txt-blue-bright"
                  aria-hidden="false"
                  >person_add</mat-icon
                >
              </button>
            </div> -->
            <ng-template #tpl>
              <div
                class="bg-white"
                (click)="stopPropagation($event)"
                [formGroup]="stakeholderForm"
              >
                <div
                  class="flex flex-row justify-between items-center"
                  (click)="stopPropagation($event)"
                >
                  <span class="font-semibold text-md">Add Stakeholder</span>
                </div>
                <div class="my-2" (click)="stopPropagation($event)">
                  <input
                    class="
                      appearance-none
                      bg-transparent
                      border-b border-gray-600
                      w-full
                      text-gray-700
                      py-2
                      leading-tight
                      focus:outline-none
                    "
                    type="text"
                    formControlName="name"
                    placeholder="Name*"
                  />
                </div>
                <div class="my-2" (click)="stopPropagation($event)">
                  <input
                    class="
                      appearance-none
                      bg-transparent
                      border-b border-gray-600
                      w-full
                      text-gray-700
                      py-2
                      leading-tight
                      focus:outline-none
                    "
                    type="email"
                    formControlName="email"
                    placeholder="Email*"
                  />
                </div>
                <div class="" (click)="stopPropagation($event)">
                  <button
                    class="py-2 px-6 rounded-md focus:outline-none"
                    [ngClass]="
                      stakeholderForm.valid
                        ? 'pg-bg-blue-dark text-white'
                        : 'bg-gray-400 pg-txt-blue-bright'
                    "
                    [disabled]="stakeholderForm.invalid"
                    (click)="
                      storeStakeHolder(action, i, true);
                      formmenu.hide();
                      clearForm();
                      stopPropagation($event)
                    "
                  >
                    Add
                  </button>
                </div>
              </div>
            </ng-template>
            <!-- <mat-icon class="pg-txt-blue-bright" (click)="showDescriptionCustom(action.id); $event.stopPropagation();">
              {{ shownActionCustom.has(action.id) ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
            </mat-icon> -->
          </div>
        </div>
        <div class="flex flex-row justify-between items-center">
          <span class="font-14-heading">
            {{ action.description }}
          </span>
        </div>
        <!-- <hr /> -->
      </div>
    </div>
    <div class="flex justify-start items-center mt-4">
      <button
        class="bg-transparent flex items-center focus:outline-none custombtn"
        [helipopper]="custom"
        helipopperTrigger="manual"
        (click)="customMenu.show(); clearForm(); stopPropagation($event)"
        #customMenu="helipopper"
        helipopperAlignment="start"
        helipopperPlacement="auto"
        helipopperVariation="popper"
      >
        <mat-icon class="mat-icon-14 add-icon">add</mat-icon>
        <span style="color: #278ce9">add custom</span>
        <label
          class="
            pg-tooltip
            flex flex-row
            items-center
            ml-2
            mb-0
            focus:outline-none
          "
        >
          <mat-icon
            fontSet="material-icons-outlined"
            class="text-gray-500 mat-icon-18"
            >info</mat-icon
          ><input type="checkbox" />
          <div class="font-light text-xs">
            Click to add items to make this Sprint more meaningful to you and
            your role
          </div>
        </label>
      </button>
    </div>
    <div class="flex justify-end mt-10">
      <button class="donebtn btn" (click)="next()" *ngIf="grayOverlay == false">
        Done
      </button>
    </div>
  </div>

  <ng-template #custom>
    <div
      class="bg-white w-full add-custom-action"
      (click)="stopPropagation($event)"
      [formGroup]="customForm"
    >
      <div
        class="flex flex-row justify-between items-center"
        (click)="stopPropagation($event)"
      >
        <span class="font-14-heading">Add Custom Action</span>
      </div>
      <div class="my-2" (click)="stopPropagation($event)">
        <input
          class="
            appearance-none
            bg-transparent
            border-b border-gray-600
            w-full
            text-gray-700
            py-2
            leading-tight
            focus:outline-none
          "
          type="text"
          formControlName="label"
          placeholder="Label*"
        />
      </div>
      <div class="my-2" (click)="stopPropagation($event)">
        <textarea
          placeholder="Description*"
          class="
            border-b border-gray-600
            text-gray-700
            py-2
            w-full
            focus:outline-none
            bg-transparent
          "
          rows="3"
          formControlName="description"
        ></textarea>
      </div>
      <div class="" (click)="stopPropagation($event)">
        <button
          class="btn focus:outline-none"
          [ngClass]="
            customForm.valid
              ? 'pg-bg-blue-dark text-white'
              : 'bg-gray-400 pg-txt-blue-bright'
          "
          [disabled]="customForm.invalid"
          (click)="
            addCustom();
            customMenu.hide();
            clearCustomForm();
            stopPropagation($event)
          "
        >
          Add
        </button>
      </div>
    </div>
  </ng-template>
  <div
    class="
      absolute
      top-0
      left-0
      bg-gray-100
      w-full
      h-full
      opacity-50
      cursor-pointer
    "
    *ngIf="grayOverlay"
    (click)="grayClicked()"
  ></div>
  <div
    class="
      absolute
      top-0
      left-0
      bg-gray-100
      w-full
      h-full
      opacity-50
      cursor-pointer
    "
    *ngIf="isLoading"
  ></div>
  <div
    class="
      absolute
      top-0
      left-0
      bg-transparent
      w-full
      h-full
      cursor-pointer
      spinner
    "
    *ngIf="isLoading"
  ></div>
</div>

<app-mat-svg-icon></app-mat-svg-icon>

<!-- (click)="openInvite(); $event.stopPropagation()" -->
