.modal-dialog-wrapper {
	padding: 1.2rem;

	.blue-bkg-btn {
		background-color: #278ce9;
		color: white;
	}

	button {
		border-radius: 5px;
		min-width: 12rem;
		padding-bottom: 0.5rem;
		padding-top: 0.5rem;
	}
}
