<div class="pg-container mb-4">
  <div class="rounded w-full lg:max-w-full p-4 flex items-center justify-between">
    <div class="flex flex-row items-center justify-start">
      <span class="mr-4 text-lg">Name or Job Title</span>
      <input class="shadow appearance-none border border-gray-500 rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mr-4"  type="text" placeholder="">
      <button class="pg-bg-green hover:bg-green-600 active:bg-green-700 text-white font-base rounded py-2 px-4">Search</button>

    </div>

    <div>
      <select class="block appearance-none bg-white border border-gray-400 hover:border-gray-500 px-2 py-2 rounded shadow leading-tight focus:outline-none focus:shadow-outline text-sm">
        <option>Sort by : Feed Forward</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
    </div>
  </div>
</div>
