.star-fill {
    color: #ffc107;
  }
  
  .star-empty {
    color: #c4c4c4;
  }
  #icon {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 45px;
    top: -2px;
  }
  
  .c-card {
    border-radius: 1rem;
    .rounded-full {
      margin-right: 10px;
    } 
    .font-14-heading {
      font-weight: bold;
    }
    .font-12-heading {
      color: #8e9aae;
    }
  }
  